<template>
  <q-page ref="qpage" class="flex flex-center" :style-fn="fullheight">
    <div class="q-gutter-md row"  v-show="showSpinner" style="position:absolute;height: 100vh;padding-top: 40vh;width: 100vw; text-align: center;display: block;background: rgba(0, 0, 0, 0.7);">
      <q-spinner
        color="info"
        size="4em"/>
    </div>
    <iframe
      class="fit"
      id
      ref="renderframe"
      allowtransparency="true"
      frameborder="0"
      @load="loadIframe"
    ></iframe>
  </q-page>
</template>

<style>
</style>

<script>
import LocalForage from 'localforage'
import EditBlock from 'components/EditBlock'
import EditColumn from 'components/EditColumn'
import { isRegExp } from 'util'

export default {
  name: 'Index',
  data () {
    return {
      rendered: null,
      languages: [],
      hostSite: null,
      iframe: {
        src: null,
        height: '',
        hostSite: ''
      },
      namePage: '',
      typePage: '',
      showSpinner: false,
      btk: bt,
      typeBtn: ['edit', 'delete', 'move','clone','virtual'],
      typeBtnRow: ['edit', 'delete', 'move'],
      typeBtnCol: ['edit', 'delete', 'move', 'addblock'],
      fieldtypes: {
        string: 'Input.text',
        target: 'Target',
        svg: 'Svg',
        datetime: 'DateTime',
        text: 'Input.text',
        color: 'Color',
        url: 'Input.url',
        tree: 'Tree',
        option: 'Option',
        coord: 'Input.coord',
        textarea: 'Textarea',
        longtext: 'LongText',
        treenodes: 'Treenodes',
        'upload.src': 'Upload',
        uploaddata: 'UploadData'
      }

    }
  },
  beforeMount () {
    // this.renderPage();
  },
  created () {
    this.$root.$on('changePage', this.changePage)
    this.$on('addBlocktoJson', this.addBlocktoJson)
    this.$on('cloneBlocktoJson', this.cloneBlocktoJson)
    this.$root.$on('replaceBlocktoJson', this.cloneBlocktoJson)
    this.$on('addRowtoJson', this.addRowtoJson)
    this.$on('addColtoJson', this.addColtoJson)
    this.$on('itemMoved', this.itemMoved)
    this.$on('itemClicked', this.itemClicked)
    this.$on('itemClone', this.itemClone)
    this.$on('itemCreateVirtual', this.itemCreateVirtual)
    this.$on('itemUnlinkBlock', this.itemUnlinkBlock)
   // this.$on('itemVirtualClicked', this.itemVirtualClicked)
    this.$root.$on('itemComposed', this.itemComposed)
    this.$on('itemClickedCol', this.itemClickedCol)
    this.$on('itemClickedRow', this.itemClickedRow)
    this.$on('itemDeleted', this.itemDeleted)
    this.$on('openAddBlock', this.openAddBlock)
    this.$on('itemLoaded', this.itemLoaded)
    this.$root.$on('addBlock', this.addBlock)
    this.$root.$on('addBlockVirtual', this.addBlockVirtual)
    this.$root.$on('addRow', this.addRow)
    this.$root.$on('addColumn', this.addColumn)
    this.$root.$on('setLangs', this.setLangs)
    this.$root.$on('editBlock', this.editBlock)
    this.$root.$on('editBlockChild', this.editBlockChild)
    this.$root.$on('editColumn', this.editColumn)
    this.$root.$on('renderPage', this.renderPage)
  },
  computed: {
    blocks: function () {
      return this.$root.blocks
    }
  },

  methods: {
    itemLoaded: function (data) {
      this.showSpinner = false
    },
 
    renderPage: function (hostSite) {
      this.showSpinner = true
      this.hostSite = hostSite
     // console.log('re derpage')
    var self = this 
    // this.$axios.defaults.headers.get['CF-Access-Client-Id'] = CFAccessClientId;
    // this.$axios.defaults.headers.get['CF-Access-Client-Secret'] = CFAccessClientSecret; 

//  this.$axios.get( base_site_url + pathrenderengine + '/renderengine?host=' + this.hostSite, 
//  ).then((response) => {
//           self.iframe.src = "data:text/html;charset=utf-8," + escape(response.data) 
//           self.$refs.renderframe.src = "data:text/html;charset=utf-8," + escape(response.data) 
//         })
 
 
      this.iframe.src = base_site_url + pathrenderengine + '/renderengine?v='+version+'&host=' + this.hostSite
    if(this.btk)
    {

            var xhr = new XMLHttpRequest();

            xhr.open('GET', this.iframe.src);
            xhr.onreadystatechange = function () {
            if (this.readyState === this.DONE) {
              
              if (this.status === 200) {
                // this.response is a Blob, because we set responseType above
                  var data_url = URL.createObjectURL(this.response);
                
                  self.$refs.renderframe.src = data_url
                } else {
                  console.log('error bt')
                  // console.error('no pdf :(');
                }
            }
            }
            xhr.responseType = 'blob';
            xhr.setRequestHeader('Authorization', 'Bearer ' + this.btk);
            xhr.send(); 
 
      }
      else{
        this.$refs.renderframe.src = base_site_url + pathrenderengine + '/renderengine?v='+version+'&host=' + this.hostSite

      }
      


    },
    fullheight (offset) {
      return { height: offset ? `calc(100vh - ${offset}px)` : '100vh' }
    },
    createEdits: function () {
      // this.$refs.renderframe = new DOMParser().parseFromString(this.$refs.renderframe, 'text/html')
    },
    setLangs: function (listlangs) {
      this.languages = listlangs.langs
    },
    loadIframe: function () {
      this.showSpinner = true
      if (this.iframe.src) {
        this.$root.$emit('getJsonPage', page_id)

        LocalForage.getItem(this.page)

        const self = this
        window.addEventListener('message', function (e) {
          if (typeof (e.data.fx) !== 'undefined') { self.$emit(e.data.fx, e.data.fx_params) }
        },
        false)

        this.startEditAction()
      }
    },
    itemClicked: function (data) {
      const self = this
      //  console.log(self.$root)
     
      this.getItemLocalStorage(this.namePage).then(function (value) {
        self.$root.editform = { languages: self.languages, formcontents: [], blockName: '', selector: [],properties:[],condition:[] }

        if (value) {
          const jsonactive = JSON.parse(value)

          
          self.$root.els = self.getElementSelector(data.selector) // selettore per dati form
          const els = self.$root.els

          var elcontents = jsonactive.body.sections[els[1]].rows[els[2]].columns[els[3]].blocks[els[4]] // contenuto presente nel blocco json
         
          var isVirtual = false
          var virtualId = null
          if(typeof elcontents.virtualId !== 'undefined')
          {
            isVirtual = true
            virtualId = elcontents.virtualId
          }
          const blockdata = {virtualId:virtualId, isVirtual:isVirtual,blockCode: elcontents.code, blockName: elcontents.type, selector: els, isMulti: elcontents.multi,properties:elcontents.properties,condition:elcontents.condition }

          
          
          self.$root.$emit('setBlockData', blockdata)

          self.editBlock(elcontents.code, elcontents)
        }
      })
      //
    },
    // itemVirtualClicked:function(data)
    // {
    //    const self = this
    //   this.getItemLocalStorage(this.namePage).then(function (value) {
    //     self.$root.editform = { languages: self.languages, formcontents: [], blockName: '', selector: [],properties:[],condition:[] }

    //     if (value) {
    //       const jsonactive = JSON.parse(value)

    //       self.$root.els = self.getElementSelector(data.selector) // selettore per dati form
    //       const els = self.$root.els

    //       var elcontents = jsonactive.body.sections[els[1]].rows[els[2]].columns[els[3]].blocks[els[4]] // contenuto presente nel blocco json
    //      self.getItemLocalStorage("TPPG_BLKVIRTUAL").then(function (contentBlocks) 
    //      {
    //          const jsonblocks = JSON.parse(contentBlocks)
    //          if(typeof jsonblocks.body !== 'undefined' && typeof jsonblocks.body.sections !== 'undefined')
    //          {
    //            jsonblocks.body.sections[0].rows[0].columns.forEach((c, v2) =>
    //            {
    //              if(c.blocks.length)
    //              {
    //                   c.blocks.forEach((cb, v2) =>
    //                   {
    //                     if(cb.virtualId == elcontents.contents.items[0].idblock )
    //                     {
    //                      const blockdata = { isVirtual:true,blockCode: cb.code, blockName: cb.type, selector: els, isMulti: cb.multi,properties:cb.properties,condition:cb.condition }
    //                      self.$root.$emit('setBlockData', blockdata)
                      
    //                      self.editBlock(cb.code, cb)
    //                     }
    //                   })
    //              }
    //            })
              
    //           } 
    //      })
 
          
          
       
    //     }
    //   })
    // },
    itemClone:function(data){
      
      var self = this
      this.getItemLocalStorage(this.namePage).then(function (value) {
        //self.$root.editform = { languages: self.languages, formcontents: [], blockName: '', selector: [],properties:[] }

        if (value) {
          const jsonactive = JSON.parse(value)
 
          const els = self.getElementSelector(data.selector) // selettore per dati form

          var elcontents = jsonactive.body.sections[els[1]].rows[els[2]].columns[els[3]].blocks[els[4]] // contenuto presente nel blocco json
         
         
          const blockdata = { blockCode: elcontents.code, blockName: elcontents.type, selector: els, isMulti: elcontents.multi,properties:elcontents.properties,condition:elcontents.condition }

          //console.log(blockdata,elcontents) 
          const options = {
            fx: 'cloneBlockMode',
            fx_params: { blockCode: elcontents.code, selector: data.selector,blockContents:elcontents }
          }

          self.postMessageIframe(options)
    
         // self.$root.$emit('setBlockData', blockdata)

         // self.editBlock(elcontents.code, elcontents)
        }
      })

    },
    itemUnlinkBlock:function(data){
      var self = this
        this.getItemLocalStorage(this.namePage).then(function (value) 
        {
            if (value) {
              const jsonactive = JSON.parse(value)
    
              const els = self.getElementSelector(data.selector) // selettore per dati form

              var elcontents = jsonactive.body.sections[els[1]].rows[els[2]].columns[els[3]].blocks[els[4]] // contenuto presente nel blocco json
              if(typeof elcontents.virtualId)
              {
                delete  elcontents.virtualId
                delete  elcontents.virtualName 
                LocalForage.setItem(self.namePage,JSON.stringify(jsonactive))
                self.$root.$emit('changePage', { jsonPage:JSON.stringify( jsonactive), namePage: self.namePage, typePage: self.pageType })
                self.$q.notify({
                      position: 'top',
                      type: 'positive',
                      message: 'Blocco aggiornato correttamente.'
                    })
                self.$root.$emit('hideIconSave')
              }

            }
        })
    },
    itemCreateVirtual:function(data){
    var self = this
      this.getItemLocalStorage(this.namePage).then(function (value) {
        //self.$root.editform = { languages: self.languages, formcontents: [], blockName: '', selector: [],properties:[] }

        if (value) {
          const jsonactive = JSON.parse(value)
 
          const els = self.getElementSelector(data.selector) // selettore per dati form

          var elcontents = jsonactive.body.sections[els[1]].rows[els[2]].columns[els[3]].blocks[els[4]] // contenuto presente nel blocco json
         
         
          const blockdata = { blockCode: elcontents.code, blockName: elcontents.type, selector: els, isMulti: elcontents.multi,properties:elcontents.properties,condition:elcontents.condition }

          console.log(blockdata,elcontents) 
          // const options = {
          //   fx: 'cloneBlockMode',
          //   fx_params: { blockCode: elcontents.code, selector: data.selector,blockContents:elcontents }
          // }

          //self.postMessageIframe(options)
          self.$root.$emit('openDialogEditVirtual',{blockdata:blockdata,elcontents:elcontents})

         // self.editBlock(elcontents.code, elcontents)
        }
      })
    },
    itemComposed: function (data,itemindex) {
     ///click su tasto del blocco child nella modal principale 
      
      const self = this
      self.$root.$emit('clearFieldChild') 
      this.getItemLocalStorage(this.namePage).then(function (value) {
        self.$root.editformchild = { languages: self.languages, formcontents: [], blockName: '', selector: [] }

        if (value) {
          const jsonactive = JSON.parse(value)  
          const els = self.$root.els

          var parentCode = jsonactive.body.sections[els[1]].rows[els[2]].columns[els[3]].blocks[els[4]].code
         
         if(typeof jsonactive.body.sections[els[1]].rows[els[2]].columns[els[3]].blocks[els[4]].contents.items[itemindex] === 'undefined')
          jsonactive.body.sections[els[1]].rows[els[2]].columns[els[3]].blocks[els[4]].contents.items[itemindex] =  jsonactive.body.sections[els[1]].rows[els[2]].columns[els[3]].blocks[els[4]].contents.items[data.index] // contenuto presente nel blocco json



         // var elcontents =  jsonactive.body.sections[els[1]].rows[els[2]].columns[els[3]].blocks[els[4]].contents.items[itemindex][data.name] // contenuto presente nel blocco json
          var elcontents =  data.value // contenuto presente nel blocco json
         
          const blockdata = { blockCode: data.name, blockName: data.name, selector: els, isMulti: elcontents.multi,itemindex:itemindex }

          if (elcontents.properties) blockdata.properties = elcontents.properties
          else blockdata.properties = {}

          self.$root.$emit('setBlockDataChild', blockdata)
          self.editBlockChild(data.name,elcontents,parentCode) 


        }
      }) 
    },
    itemClickedCol: function (data) {
      const self = this
      //  console.log(self.$root)
      self.$root.$emit('clearField')
      this.getItemLocalStorage(this.namePage).then(function (value) {
        self.$root.editform = { languages: self.languages, formcontents: [], blockName: '', selector: [] }

        if (value) {
          const jsonactive = JSON.parse(value)

          self.$root.els = self.getElementSelector(data.selector) // selettore per dati form
          const els = self.$root.els

          var elcontents = jsonactive.body.sections[els[1]].rows[els[2]].columns[els[3]] // contenuto presente nel blocco json
          var colData = {}
          for (var prp in elcontents) {
            if (prp != 'blocks') { colData[prp] = elcontents[prp] }
          }
          const editform = { selector: els, colData: colData }

          if (elcontents.properties) editform.properties = elcontents.properties
          else editform.properties = {}

          self.$root.$emit('openDialogEditCol', editform)
        }
      })
      //
    },
    itemClickedRow: function (data) {
      const self = this
      //  console.log(self.$root)
      //    self.$root.$emit('clearField')
      this.getItemLocalStorage(this.namePage).then(function (value) {
        self.$root.editform = { languages: self.languages, formcontents: [], blockName: '', selector: [] }

        if (value) {
          const jsonactive = JSON.parse(value)

          self.$root.els = self.getElementSelector(data.selector) // selettore per dati form
          const els = self.$root.els

          var elcontents = jsonactive.body.sections[els[1]].rows[els[2]] // contenuto presente nel blocco json
          var rowData = {}

          for (var prp in elcontents) {
            if (prp != 'columns') rowData[prp] = elcontents[prp]
          }
          const editform = { selector: els, rowData: rowData }

          if (elcontents.properties) editform.properties = elcontents.properties
          else editform.properties = {}

          self.$root.$emit('openDialogEditRow', editform)
        }
      })
      //
    },
    editBlockChild: function (blockCode, content) { 
      
        var schema = this.$root.schemaChild //lettura schema child -- da tenere presente che al momento deve essere unico elemento child nel intero blocco
         
        if(!content) content = schema //se è prima apertura e il contenuto non è valorizzato legge default i valori dello schema
   
        var self = this
        var field = []
  
        content.contents.items.forEach((v1, v2) => {
            schema.contents.items.forEach((prp, i3) => { // item
              field = []

              for (var ky in prp) { 
                if(typeof prp[ky] !== 'object' )
                {
                  field.push(this.makeField(prp,ky,v1))
                }
                else 
                {
                   if(typeof prp[ky].type !== 'undefined')
                  {
                    
                    field.push(this.makeField(prp,ky,v1))
                  }
                  else
                 {
                  field.push({ name: ky, typevalue: 'ModalButton', type: 'ModalButton', value: prp[ky] })
                  
                }
                }
              }

              self.$root.$emit('pushField2', field)
            })
            
        })

    },
    editBlock: function (blockCode, content) {
         
       
      var self = this
 
      self.$root.blocks.forEach((value, index) => {
        if (value.schema.code == blockCode) {
          var field = []
          self.jsonschematoform = value.schema 
          if (!content) {
            content = self.jsonschematoform
          }

          content.contents.items.forEach((v1, v2) => {
            self.jsonschematoform.contents.items.forEach((prp, i3) => { // item
              field = []

              for (var ky in prp) { 
                if(typeof prp[ky] !== 'object' )
                {
                  field.push(this.makeField(prp,ky,v1))
                }
                else 
                {
                 
                 if(typeof prp[ky].type !== 'undefined')
                  {
                    
                    field.push(this.makeField(prp,ky,v1))
                  }
                  else
                 { 
                   field.push({ name: ky, typevalue: 'ModalButton', type: 'ModalButton', value: v1[ky],index:i3 })
                  
                  self.$root.schemaChild = prp[ky] //setta lo schema per il child      
                 }
                }
              }
              
              self.$root.$emit('pushField', field)
            })
          })
        } 
      })
    },
    makeField: function(prp,ky,v1)
    {
      var valuefield = {}
      var whitelistlang = ['string', 'text', 'textarea']
      var type = ''
      if(typeof prp[ky]  == 'object' && prp[ky].type !== 'undefined')
      {
        type = this.fieldtypes[ prp[ky].type]
 
      }
      else {

          if(prp[ky].indexOf(':') > -1)
          {
            var fieldwithextra = prp[ky].split(':')
            if(fieldwithextra.length && fieldwithextra[0] == 'tree') type = 'Tree'
            if(fieldwithextra.length && fieldwithextra[0] == 'options') type = 'Option'

          }
          
          if (typeof this.fieldtypes[prp[ky]] !== 'undefined') {
            type = this.fieldtypes[prp[ky]]
          }
      }
      

      var splitType = (type.indexOf('.') > -1) ? type.split('.')[1] : type
      if (whitelistlang.indexOf(splitType.toLowerCase()) > -1) {
        /// check type whitelist languages

        this.languages.forEach((lg, il) => { 
          if (typeof v1[ky] === 'undefined' ||  typeof v1[ky][lg.value] === 'undefined') {
            valuefield[lg.value] = ''
          } else valuefield[lg.value] = v1[ky][lg.value]
        })
      } else {
        
        valuefield = v1[ky]
        if (v1[ky] == prp[ky]) {
          valuefield = ''
        }
      }
      return { name: ky, typevalue: prp[ky], type: type, value: valuefield }
    },
    itemDeleted: function (data) {
      if(data.pageblk)
      {
        this.$root.$emit('openAlertDelete',data)
       
      }
      else {
        this.$root.$emit('deleteBlockFromPage',data)
      }
     
    },
    addBlocktoJson: function (data) {
      const self = this
      var jsonactive = {}
      this.getItemLocalStorage(this.namePage).then(function (value) {
        if (!value) {
          jsonactive = { body: { header: {}, sections: [{ section_id: 1, name: 'section_1', blocks: [] }] } }
          // console.log(jsonactive)
          //   jsonactive.body.sections[els[1]].blocks.splice(els[2], 1,)
        } else { jsonactive = JSON.parse(value) }

        const els = self.getElementSelector(data.selector) // selettore
        // var elcontents = jsonactive.body.sections[els[1]].blocks[els[2]] //contenuto presente nel blocco json

        self.$root.blocks.forEach((v, index) => {
          if (v.schema.code == data.code) {
            jsonactive.body.sections[els[1]].rows[els[2]].columns[els[3]].blocks.splice(els[4], 0, v.schema)
          }
        })

        self.$root.$emit('updateJsonPage', jsonactive)
      })
    },
    cloneBlocktoJson: function (data) {
       console.log(data)
      const self = this
      var jsonactive = {}
      this.getItemLocalStorage(this.namePage).then(function (value) {
        if (!value) {
          jsonactive = { body: { header: {}, sections: [{ section_id: 1, name: 'section_1', blocks: [] }] } }
          // console.log(jsonactive)
          //   jsonactive.body.sections[els[1]].blocks.splice(els[2], 1,)
        } else { jsonactive = JSON.parse(value) }

        const els = self.getElementSelector(data.selector) // selettore
        // var elcontents = jsonactive.body.sections[els[1]].blocks[els[2]] //contenuto presente nel blocco json

          if(typeof data.isvirtual !== 'undefined')
            jsonactive.body.sections[els[1]].rows[els[2]].columns[els[3]].blocks[els[4]] =  data.content
          else 
            jsonactive.body.sections[els[1]].rows[els[2]].columns[els[3]].blocks.splice(els[4], 0, data.content)
        
        

        self.$root.$emit('updateJsonPage', jsonactive)
      })
    },

    addRowtoJson: function (data) {
      const self = this
      var jsonactive = {}
      console.log(data)

      this.getItemLocalStorage(this.namePage).then(function (value) {
        if (!value) {
          jsonactive = { body: { header: {}, sections: [{ section_id: 1, name: 'section_1', rows: [] }] } }

          //   jsonactive.body.sections[els[1]].blocks.splice(els[2], 1,)
        } else { jsonactive = JSON.parse(value) }

        const els = self.getElementSelector(data.selector) // selettore

        jsonactive.body.sections[els[1]].rows.splice(els[2], 0, { columns: [{ size: 12, blocks: [] }] })

        self.$root.$emit('updateJsonPage', jsonactive)
      })
    },

    addColtoJson: function (data) {
      const self = this
      var jsonactive = {}
      console.log(data)

      this.getItemLocalStorage(this.namePage).then(function (value) {
        if (!value) {
          jsonactive = { body: { header: {}, sections: [{ section_id: 1, name: 'section_1', rows: [] }] } }
          jsonactive.body.sections[0].rows.push({ columns: [] })
          //   jsonactive.body.sections[els[1]].blocks.splice(els[2], 1,)
        } else { jsonactive = JSON.parse(value) }

        const els = self.getElementSelector(data.selector) // selettore
        if (els.length < 4) // caso inserimento colonna senza riga
        {
          jsonactive.body.sections[els[1]].rows[els[2]].columns.push({ size: 12, blocks: [] })
        } else {
          jsonactive.body.sections[els[1]].rows[els[2]].columns.splice(els[3], 0, { size: 12, blocks: [] })
        }

        self.$root.$emit('updateJsonPage', jsonactive)
      })
    },
    openAddBlock: function (data) {
      this.$root.$emit('openDialogListBlock', data)
    },
    getElementSelector: function (selector) {
      return selector.split('_') // selettore
    },

    changePage: function (data) {
      this.showSpinner = true
      this.$root.$emit('clearField')
      this.namePage = data.namePage
      this.typePage = data.typePage
      const options = {
        fx: 'doRender',
        fx_params: {  bt:this.btk,jsonPage: data.jsonPage, host: this.hostSite, typePage: data.typePage, namePage: data.namePage, typeBtn: this.typeBtn, typeBtnRow: this.typeBtnRow, typeBtnCol: this.typeBtnCol }
      }
      console.log(options)

      this.postMessageIframe(options)
    },
    postMessageIframe: function (objects) {
      if (this.$refs.renderframe.contentWindow) { this.$refs.renderframe.contentWindow.postMessage(objects, '*') }
    },
    startEditAction: function () {
      var options
      options = {
        fx: 'createButton',
        fx_params: { typeBtn: this.typeBtn }
      }
      this.postMessageIframe(options)

      options = {
        fx: 'createButtonRow',
        fx_params: { typeBtnRow: this.typeBtnRow }
      }
      this.postMessageIframe(options)

      options = {
        fx: 'createButtonCol',
        fx_params: { typeBtnCol: this.typeBtnCol }
      }
      this.postMessageIframe(options)
    },
    addBlock: function (data) {
      const options = {
        fx: 'addBlockMode',
        fx_params: { blockCode: data.code, selector: data.selector }
      }

      this.postMessageIframe(options)
    },
    addBlockVirtual: function (data) {
 
      
      var self = this
   
      this.getItemLocalStorage("TPPG_BLKVIRTUAL").then(function (value) {
        self.$root.editform = { languages: self.languages, formcontents: [], blockName: '', selector: [],properties:[] }
        
        if (value) {
          const jsonpageblk = JSON.parse(value)
 
         // const els = self.getElementSelector(data.selector.selector) // selettore per dati form
          if(typeof jsonpageblk.body !== 'undefined')
          {
            jsonpageblk.body.sections[0].rows[0].columns.forEach((colmn, index) => 
            {   
              if(colmn.blocks.length)
              {
                colmn.blocks.forEach((block, index) => 
                { 
                  if(block.virtualId == data.id)
                  {
                     var elcontents = block
                      const options = {
                        fx: 'addBlockVirtualMode',
                      fx_params: { blockCode: "", selector: data.selector.selector,blockContents:elcontents }
                    }
                  self.postMessageIframe(options)
                  }
                 // self.blocksvirtual.push({contents:block,nameblock:block.name,namevirtual:block.virtualName})
                })    
              }
            })
          }

        //  var elcontents = jsonpageblk.body.sections[els[1]].rows[els[2]].columns[els[3]].blocks[els[4]] // contenuto presente nel blocco json
         
         
        //  const blockdata = { blockCode: elcontents.code, blockName: elcontents.type, selector: els, isMulti: elcontents.multi,properties:elcontents.properties,condition:elcontents.condition }

          //console.log(blockdata,elcontents) 
          // const options = {
          //   fx: 'addBlockVirtualMode',
          //   fx_params: { blockCode: elcontents.code, selector: data.selector.selector,blockContents:elcontents }
          // }

          // self.postMessageIframe(options)
    
         // self.$root.$emit('setBlockData', blockdata)

         // self.editBlock(elcontents.code, elcontents)
        
        }
      })

        // var elcontents = {code:'virtualblock',type:'virtualblock',category:'Template',name:'Blocco Virtuale',contents:{items:[]}}
        // elcontents.contents.items.push({idblock:data.id})
 

        // const options = {
        //   fx: 'addBlockVirtualMode',
        //       fx_params: { blockCode: "", selector: data.selector.selector,blockContents:elcontents }
        //     }
        // self.postMessageIframe(options)


     

    },



    addRow: function (code) {
      const options = {
        fx: 'addRowMode'
      }

      this.postMessageIframe(options)
    },
    addColumn: function (code) {
      const options = {
        fx: 'addColumnMode'
      }

      this.postMessageIframe(options)
    },
    itemMoved: function (params) {
      var self = this

      this.getItemLocalStorage(this.namePage).then(function (value) {
        const jsonactive = JSON.parse(value)
        var elidsplitted = self.getElementSelector(params.elid)
        var contenttomove

        if (elidsplitted[0] == 'row') {
          contenttomove = jsonactive.body.sections[elidsplitted[1]].rows[elidsplitted[2]]
          jsonactive.body.sections[elidsplitted[1]].rows.splice(elidsplitted[2], 1)
          // if (params.prevelid) {
          //     var prevelidsplitted = self.getElementSelector(params.prevelid)
          // } else {
          //   var prevelidsplitted = Array('row', 0, 0)
          // }

          // let elementact1 = jsonactive.body.sections[elidsplitted[1]]
          // var indexblock = 0

          jsonactive.body.sections.forEach((vsec, index) => {
            var tempArray = []
            vsec.rows.forEach((vel, index2) => {
              // indexblock++

              // if (indexblock == 1 && params.newIndex == 0) {
              //   tempArray.push(contenttomove)
              // }
              if ((index2 + 1) == params.newIndex) {
                tempArray.push(contenttomove)
              }
              tempArray.push(vel)
            })
            if (vsec.rows.length < params.newIndex) tempArray.push(contenttomove)

            jsonactive.body.sections[index].rows = tempArray
          })
        }
        if (elidsplitted[0] == 'col') {
          contenttomove = jsonactive.body.sections[elidsplitted[1]].rows[elidsplitted[2]].columns[elidsplitted[3]]
          jsonactive.body.sections[elidsplitted[1]].rows[elidsplitted[2]].columns.splice(elidsplitted[3], 1)

          var tempArray = []
          jsonactive.body.sections[elidsplitted[1]].rows[elidsplitted[2]].columns.forEach((col, index3) => {
            if ((index3 + 1) == params.newIndex) {
              tempArray.push(contenttomove)
            }
            tempArray.push(col)
          })
          if (jsonactive.body.sections[elidsplitted[1]].rows[elidsplitted[2]].columns.length < params.newIndex) tempArray.push(contenttomove)
          jsonactive.body.sections[elidsplitted[1]].rows[elidsplitted[2]].columns = tempArray
        }
        if (elidsplitted[0] == 's') {
          contenttomove = jsonactive.body.sections[elidsplitted[1]].rows[elidsplitted[2]].columns[elidsplitted[3]].blocks[elidsplitted[4]]
          jsonactive.body.sections[elidsplitted[1]].rows[elidsplitted[2]].columns[elidsplitted[3]].blocks.splice(elidsplitted[4], 1)
          var tempArray = []
          jsonactive.body.sections[elidsplitted[1]].rows[elidsplitted[2]].columns[elidsplitted[3]].blocks.forEach((block, index3) => {
            if ((index3 + 1) == params.newIndex) {
              tempArray.push(contenttomove)
            }
            tempArray.push(block)
          })
          if (jsonactive.body.sections[elidsplitted[1]].rows[elidsplitted[2]].columns[elidsplitted[3]].blocks.length < params.newIndex) tempArray.push(contenttomove)
          jsonactive.body.sections[elidsplitted[1]].rows[elidsplitted[2]].columns[elidsplitted[3]].blocks = tempArray
        }

        self.$root.$emit('updateJsonPage', jsonactive)
      })
    },
    getItemLocalStorage: function (key) {
      return LocalForage.getItem(key)
    }

    /* renderForm: function () {
      var self = this
      conf['fields'].forEach((value, index) => {
        self.options.push({ù
          type: 'QInput',
          propsData: { label: value.label, type: value.tipo }
        })
      })

      return conf
    } */
    /* loadData () {
      this.$axios.get('http://localhost:8888/nicrm/application/models/conf/attachment.json')
        .then((response) => {
          this.data = response.data
        })
        .catch((res) => {
          console.log(helloText)
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem'
          })
        })
    } */
  },
  mounted: function () {
    this.createEdits()
  }

}
</script>
