<template>
  <q-page ref="qpage" class="flex flex-block" :style-fn="fullheight">
      <div class="q-pa-md col">

    <div class="row">
      <div class="col col-md-8"><h4>Lista Pagine</h4></div>
    </div>

    <div class="row">
      <div class="col-12 col-md">
         <q-table
      :dense="$q.screen.lt.md"
      title="Treats"

      row-key="name"
    />

      </div>
    </div>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
import LocalForage from 'localforage'

export default {
  name: 'Index',
  data () {
    return {

    }
  },
  beforeMount () {

  },
  created () {

  },
  computed: {

  },

  methods: {

  },
  mounted: function () {
  }

}
</script>
