<template>
  <q-page class="q-pa-md">
    <div class="row">
      <div class="col-2">
        <q-form
      class="q-gutter-md"
    @submit.prevent="simulateSubmit" >

     <q-btn
        type="submit"
        :loading="submitting"
        label="PROVA FORM"
        class="q-mt-md"
        color="teal"
      >
        <template v-slot:loading>
          <q-spinner-facebook />
        </template>
      </q-btn>
    </q-form>
  </div>
  <div class="col-2">
    <q-btn label="Apri" color="primary" @click="demo = true" />
  </div>
</div>
    <!-- <q-btn color="primary" label="Load" @click="loadData"/> -->
    <template>
      <div class="q-pa-md">
          <q-table
      title="Page"
      :data="tabledata"
      :columns="columns"
      row-key="id"
      @request="loadData"
      :loading="loadingtable"
      dense
    />
</div>
</template>

    <q-uploader
      url="http://localhost:8080/upload"
      dark
    />
 <q-dialog v-model="demo">
      <q-card style="width: 900px; max-width: 80vw;">
        <q-card-section>
          <div class="text-h6">Modal</div>
        </q-card-section>

        <q-card-section>
          <component :is="option.type" :key="index" v-for="(option,index) in options" v-bind="option.propsData"></component>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="OK" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<style>
</style>

<script>

import AxiosOffline from 'axios-offline'
import LocalForage from 'localforage'

export default {
  name: 'List',
  data () {
    return {
      options: [],
      conf: null,
      loadingtable: true,
      tabledata: [],
      endpoint: 'http://localhost:80',
      submitting: false,
      demo: false,
      onLine: navigator.onLine,
      columns: [
        { name: 'id', align: 'center', label: 'id', field: 'id', sortable: true, style: 'width: 10vw' },
        { name: 'tipo_id', align: 'center', label: 'tipo_id', field: 'tipo_id', sortable: true, style: 'width: 20vw' },
        { name: 'titolo', align: 'center', label: 'titolo', field: 'titolo', sortable: true, style: 'width: 20vw' }

      ]
    }
  },
  beforeMount () {

  },
  mounted () {
    this.loadData()
    this.initAdapter()

    window.addEventListener('online', this.updateOnlineStatus)
    window.addEventListener('offline', this.updateOnlineStatus)
  },
  watch: {
    '$route' (to, from) {
      // on route change re run: onCreated
      // this.onCreated();

      // and trigger animations again
      this.conf = require('../store/models/' + this.$route.params.model.toLowerCase() + '.json')
      this.renderForm()
    }
  },
  computed: {
    /* conf: function () {
      return
    } */
  },
  created: function () {},
  methods: {
    initAdapter () {
      this.defada = this.$axios.defaults.adapter
      const AxiosOfflineAdapter = AxiosOffline({
        defaultAdapter: this.defada, // require, basic adapter
        storageName: 'axios-offline', // optional, default: "axios-stack"
        storageDriver: LocalForage.LOCALSTORAGE // optional, default: LocalForage.LOCALSTORAGE
      })

      this.http = this.$axios.create({
        adapter: AxiosOfflineAdapter
      })
    },
    updateOnlineStatus (e) {
      const { type } = e
      this.onLine = type === 'online'

      if (this.onLine) {
        this.http.get('/')
      }
    },
    simulateSubmit: function () {
      var item = { uid: '14', sig: '7eceaf7c4c82c0a5b0b210355c8470358c80a898228bcd31cd535cfa8cff5594', prova: 'hello quasar' }
      var datatopost = new FormData()

      for (var key in item) {
        datatopost.append(key, item[key])
      }

      this.http.post(this.endpoint + '/nicrm/www/api/testquasar?uid=14&sig=7eceaf7c4c82c0a5b0b210355c8470358c80a898228bcd31cd535cfa8cff5594', datatopost,
        { headers: { 'Content-Type': 'application/x-www-form-urlencoded' } }
      )
        .then(function (response) {
          // console.log(response)
        })
        .catch(function (error) {
        //  console.log(error)
        })
        .finally(function () {
          // always executed
        })
    },
    renderForm: function () {
      var self = this
      this.options = []
      this.conf.fields.forEach((value, index) => {
        self.options.push({
          type: 'QInput',
          propsData: { label: value.label, type: value.tipo }
        })
      })

      return 0
    },
    loadData () {
      const self = this
      this.loadingtable = true
      this.$axios.get(this.endpoint + '/nicrm/www/api/genjson/PAGES?uid=14&sig=7eceaf7c4c82c0a5b0b210355c8470358c80a898228bcd31cd535cfa8cff5594')
        .then((response) => {
          response.data.forEach((value, index) => {
            self.tabledata.push({ id: value.id, tipo_id: value.tipo_id, titolo: value.titolo })
          })
          this.loadingtable = false
        })
        .catch((res) => {
          this.$q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem'
          })
        })
    }
  }
}
</script>
