<template>
<div class="q-pa-sm">
<q-dialog v-model="editvirtual" ref="dialogeditblock" :no-esc-dismiss="true" :no-backdrop-dismiss="true" transition-show="scale"  full-height transition-hide="fade">

      <q-card  style="width: 60vw; max-width: 60vw;background-color:#e8e8e8">
            <q-card-section>
                   <div class="q-pa-xs">
                 <h5 class="q-mt-xs" style="margin-bottom:25px;margin-top:0px">Crea blocco virtuale</h5>
                  <div class="row" style="padding:20px;background-color:#fff">
                    <div class="col-6" > 
                      Inserisci un nome per il blocco virtuale
                      <q-input v-model="nameblock" label="Nome" />
                      
                    </div>
                  </div>
                    </div>
              </q-card-section>
                  <div class="row q-pa-lg absolute-bottom bg" style="padding-bottom:15px">
                    <div class="col-9"></div>
                    <div class="col text-right "><q-btn label="Chiudi" @click="closeDialog"  text-color="black" color="white"/></div>
                    <div class="col text-right "><q-btn label="Salva" @click="saveEditForm"  text-color="white" color="green"/></div>
                  </div>
        </q-card>
</q-dialog>
</div>
 </template>
<script>
import LocalForage from 'localforage'

export default {
  name: 'EditVirtual',
  components: {
  },
  data () {
    return {
      editvirtual: false,
      editform: {  },
      nameblock: ''
    }
  },
  beforeMount () {
    
  },
  mounted () {

  },
  computed: {

  },
  created () {
    this.$root.$on('openDialogEditVirtual', this.openDialogEditVirtual)
  },
  methods:
  {
    openDialogEditVirtual (editform) 
    {
      this.editform = editform
      this.editvirtual = true
    },
    closeDialog () {
      this.editvirtual = false
    },
    saveEditForm () {
      this.editform.nameNewBlock = this.nameblock
      console.log(this.editform)
      this.$root.$emit('makeBlockVirtual', this.editform)
      this.closeDialog()
    }
  }
}
</script>

<style>

</style>
