<template>
 <div class="q-pa-sm">
        <q-dialog v-model="editblockchild" ref="dialogeditblockchild" :no-esc-dismiss="true" :no-backdrop-dismiss="true" transition-show="scale"  full-height transition-hide="fade">
             <q-card  style="width: 80vw; max-width: 80vw;background-color:#e8e8e8">
                  <q-card-section>
                        <EditForm :properties="editform.properties" :ischild="true" :languages="editform.languages" :formcontents="editform.formcontents" :blockData="editform.blockData" :selector="editform.selector"></EditForm>
                  </q-card-section>
                  <div class="row q-pa-lg absolute-bottom bg" style="padding-bottom:15px">
                    <div class="col-10"></div>
                    <div class="col-1 text-right "><q-btn label="Chiudi" @click="closeDialogChild"  text-color="black" color="white"/></div>
                    <div class="col-1 text-right "><q-btn label="Salva" @click="saveEditForm"  text-color="white" color="green"/></div>
                  </div>
              </q-card>
        </q-dialog>
 </div>
</template>
<script>
import EditForm from 'components/Form'

export default {
  name: 'EditBlockChild',
  components: {
    EditForm
  },
  data () {
    return {
      editblockchild: false,
      editform: {languages: [], formcontents: [], blockData: {}, selector: [], properties: {} }
    }
  },
  beforeMount () {

  },
  mounted () {

  },
  computed: {

  },
  created () {

    this.$root.$on('openDialogEditChild', this.openDialogEditChild)
    this.$root.$on('closeDialogChild', this.closeDialogChild)
  },
  methods:
  {
    openDialogEditChild (editform) { 
      this.editform = editform
      this.editblockchild = true
    },
    closeDialogChild () {
      this.editblockchild = false 
    },
    saveEditForm () {
      this.$root.$emit('saveEditFormChild')
    }
  }
}
</script>

<style>

</style>
