<template>
<div class="q-pa-sm">
<q-dialog v-model="editrow" ref="dialogeditblock" :no-esc-dismiss="true" :no-backdrop-dismiss="true" transition-show="scale"  full-height transition-hide="fade">

      <q-card  style="width: 60vw; max-width: 60vw;background-color:#e8e8e8">
            <q-card-section>
                   <div class="q-pa-xs">
                 <h5 class="q-mt-xs" style="margin-bottom:25px;margin-top:0px">Edit Riga</h5>
                  <div class="row" style="padding:20px;background-color:#fff">
                   
                      <div class="col-6">
                        <q-select outlined v-model="editform.rowData.size" :options="width" label="Size" />
                      </div>
                      <div class="col-6" style="margin-top: 13px;padding-left: 10px">
                         <q-icon name="help_outline" class="cursor-pointer" style="font-size:24px">
                              <q-popup-proxy transition-show="fade" transition-hide="fade">
                                <div style="padding:20px;font-size:12px">                              
                                  Estensione riga: estesa o boxata
                                </div>
                              </q-popup-proxy>
                          </q-icon>
                      </div> 

                      <div class="col-6">
                        <q-input v-model="editform.rowData.margins" label="Margini" />
                      </div>
                      <div class="col-6"  style="margin-top: 13px;padding-left: 10px">
                        <q-icon name="help_outline" class="cursor-pointer" style="font-size:24px">
                              <q-popup-proxy transition-show="fade" transition-hide="fade">
                                <div style="padding:20px;font-size:12px">                              
                                  Margini riga. Formato: (margine superiore, inferiore,  sinistra,  destra). <br>Esempi: 100,100,0,0 (100px superiore e inferiore) <br> 0,100 (100px inferiore) <br> 0,0,100 (100px sinistra) <br> 0,0,0,100 (100px destra)
                                </div>
                              </q-popup-proxy>
                          </q-icon>
                      </div> 
                      <div class="col-6">
                        <q-input v-model="editform.rowData.padding" label="Padding" />
                      </div>
                      <div class="col-6"  style="margin-top: 13px;padding-left: 10px">
                          <q-icon name="help_outline" class="cursor-pointer" style="font-size:24px">
                              <q-popup-proxy transition-show="fade" transition-hide="fade">
                                <div style="padding:20px;font-size:12px">                              
                                  Spaziature riga. Formato: (padding superiore, inferiore,  sinistra,  destra). <br>Esempi: 100,100,0,0 (100px superiore e inferiore) <br> 0,100 (100px inferiore) <br> 0,0,100 (100px sinistra) <br> 0,0,0,100 (100px destra)
                                </div>
                              </q-popup-proxy>
                          </q-icon>
                      </div> 
                      <div class="col-6">
                        <q-input v-model="editform.rowData.classes" label="Classi" />
                         </div>
                      <div class="col-6"  style="margin-top: 13px;padding-left: 10px">
                          <q-icon name="help_outline" class="cursor-pointer" style="font-size:24px">
                              <q-popup-proxy transition-show="fade" transition-hide="fade">
                                <div style="padding:20px;font-size:12px">                              
                                  Lista classi riga. Inserire le classi separate da: <b>,</b> <br> Es:(class1,class2,class3)
                                </div>
                              </q-popup-proxy>
                          </q-icon>

                    </div>
                  </div>
                    </div>
              </q-card-section>
                  <div class="row q-pa-lg absolute-bottom bg" style="padding-bottom:15px">
                    <div class="col-9"></div>
                    <div class="col text-right "><q-btn label="Chiudi" @click="closeDialog"  text-color="black" color="white"/></div>
                    <div class="col text-right "><q-btn label="Salva" @click="saveEditForm"  text-color="white" color="green"/></div>
                  </div>
        </q-card>
</q-dialog>
</div>
 </template>
<script>
import LocalForage from 'localforage'

export default {
  name: 'EditRow',
  components: {
  },
  data () {
    return {
      editrow: false,
      editform: { formcontents: [], rowData: {}, selector: [], properties: {} },
      width: ['full', 'boxed']
    }
  },
  beforeMount () {

  },
  mounted () {

  },
  computed: {

  },
  created () {
    this.$root.$on('openDialogEditRow', this.openDialogEditRow)
  },
  methods:
  {
    openDialogEditRow (editform) {
      this.editform = editform
      this.editrow = true
    },
    closeDialog () {
      this.editrow = false
    },
    saveEditForm () {
      this.$root.$emit('updateRow', this.editform)
      this.closeDialog()
    }
  }
}
</script>

<style>

</style>
