<template>
<div class="q-pa-sm">
<q-dialog v-model="editcol" ref="dialogeditblock" :no-esc-dismiss="true" :no-backdrop-dismiss="true" transition-show="scale"  full-height transition-hide="fade">

      <q-card  style="width: 60vw; max-width: 60vw;background-color:#e8e8e8">
            <q-card-section>
                   <div class="q-pa-xs">
                 <h5 class="q-mt-xs" style="margin-bottom:25px;margin-top:0px">Edit Colonna</h5>
                  <div class="row" style="padding:20px;background-color:#fff">
                    <div class="col-6" >
                      <q-select outlined v-model="editform.colData.size" :options="sizes" label="Size Desktop" />
                      <q-select style="margin-top:20px" outlined v-model="editform.colData.sizexs" :options="sizes" label="Size Mobile" />
                      <q-input v-model="editform.colData.margins" label="Margini" />
                      <q-input v-model="editform.colData.padding" label="Padding" />
                      <q-input v-model="editform.colData.classes" label="Classi" />
                    </div>
                  </div>
                    </div>
              </q-card-section>
                  <div class="row q-pa-lg absolute-bottom bg" style="padding-bottom:15px">
                    <div class="col-9"></div>
                    <div class="col text-right "><q-btn label="Chiudi" @click="closeDialog"  text-color="black" color="white"/></div>
                    <div class="col text-right "><q-btn label="Salva" @click="saveEditForm"  text-color="white" color="green"/></div>
                  </div>
        </q-card>
</q-dialog>
</div>
 </template>
<script>
import LocalForage from 'localforage'

export default {
  name: 'EditColumn',
  components: {
  },
  data () {
    return {
      editcol: false,
      editform: { formcontents: [], colData: {}, selector: [], properties: {} },
      sizes: []
    }
  },
  beforeMount () {
    for (var i = 1; i < 13; i++) {
      this.sizes.push(i)
    }
  },
  mounted () {

  },
  computed: {

  },
  created () {
    this.$root.$on('openDialogEditCol', this.openDialogEditCol)
  },
  methods:
  {
    openDialogEditCol (editform) {
      this.editform = editform
      this.editcol = true
    },
    closeDialog () {
      this.editcol = false
    },
    saveEditForm () {
      this.$root.$emit('updateCol', this.editform)
      this.closeDialog()
    }
  }
}
</script>

<style>

</style>
