<template>
 <div class="q-pa-sm">
        <q-dialog v-model="editblock" ref="dialogeditblock" :no-esc-dismiss="true" :no-backdrop-dismiss="true" transition-show="scale"  full-height transition-hide="fade">
             <q-card  style="width: 80vw; max-width: 80vw;background-color:#e8e8e8">
                  <q-card-section>
                        <EditForm :pages="pages" :virtualId="editform.virtualId" :isvirtual="editform.isVirtual" :codechild="editform.blockData.code" :conditionValues="editform.condition" :properties="editform.properties" :ischild="false"  :languages="editform.languages" :formcontents="editform.formcontents" :blockData="editform.blockData" :selector="editform.selector"></EditForm>
                  </q-card-section>
                  <div class="row q-pa-lg absolute-bottom bg" style="padding-bottom:15px">
                    <div class="col-10"></div>
                    <div class="col-1 text-right "><q-btn label="Chiudi" @click="closeDialog"  text-color="black" color="white"/></div>
                    <div class="col-1 text-right "><q-btn label="Aggiorna" @click="saveEditForm"  text-color="white" color="green"/></div>
                  </div>
              </q-card>
        </q-dialog>
 </div>
</template>
<script>
import EditForm from 'components/Form'

export default {
  name: 'EditBlock',
  components: {
    EditForm
  },
  data () {
    return {
      editblock: false,
      editform: { blockData:{code:''},languages: [], formcontents: [], blockData: {}, selector: [], properties: {},condition: [] }
    }
  },
  beforeMount () {

  },
  mounted () {

  },
  computed: {

  },
  props:{
    pages: [Object, Array]
  },
  created () {
    this.$root.$on('openDialogEdit', this.openDialogEdit)
    this.$root.$on('closeDialog', this.closeDialog)
  },
  methods:
  {
    openDialogEdit (editform) {
     
      this.editform = editform
       
     
      this.editblock = true 
    },
    closeDialog () {
      this.editblock = false
      this.editform = { blockData:{code:''},languages: [], formcontents: [], blockData: {}, selector: [], properties: {} ,condition: []}
      this.$root.$emit('clearField')
    },
    saveEditForm () {
      this.$root.$emit('saveEditForm')
    }
  }
}
</script>

<style>

</style>
