<template>
 <div class="q-pa-xs">
        <h5 class="q-mt-xs" style="margin-bottom:25px;margin-top:0px"> Blocco: {{blockData.name}}
           <q-chip  v-if="isvirtual" class="float-right"  color="orange" text-color="white" icon="warning_amber">
             Attenzione stai editando un blocco virtuale che può essere incluso in pi&ugrave;  <span @click="tab2 = 'blockpage'" class="cursor-pointer	 q-pl-xs"><u>pagine</u></span>
           </q-chip>
 
        </h5>
        <q-form class="q-gutter-md"    @submit="(ischild) ? saveForm() : saveFormChild()">
        <q-tabs
        v-model="tab2"
        dense
        align="left"
        class="bg-grey-3 shadow-1"
        :breakpoint="0"
      >
        <q-tab name="content" label="Contenuto" />
        <q-tab name="properties" label="Proprieta" />
        <q-tab name="condition" label="Condizioni" v-if="!ischild"/>
        <q-tab name="blockpage" label="Lista Pagine" v-if="!ischild && isvirtual"/>
      </q-tabs>
      <q-tab-panels v-model="tab2" animated  transition-prev="fade"
              transition-next="fade" style="margin-top:2px;padding-top:10px">
           <q-tab-panel name="content" >
          <q-splitter v-model="splitterModel" style="height: calc(77vh - 50px);">
            <template v-slot:before>
              <q-tabs
                v-model="tab"
                vertical
                class="text-teal"
              >
                <q-tab  class="itemtab"  :name="(index+1)" :label="'Contenuto '+(index+1)" :key="index" v-for="(fields,index) in formcontents">

                    <q-btn class="btnremitem" color="negative" size="sm" icon="delete"  v-if="blockData.isMulti" @click="removeItem(index)" />

                </q-tab>

                <div class="text-center">
                  <q-btn color="secondary" size="sm" label="+ Aggiungi Contenuto" @click="addItem()" v-if="blockData.isMulti"/>
                </div>
              </q-tabs>
            </template>
          <template v-slot:after>
            <q-tab-panels
              v-model="tab"
              animated
              class="pl__content"
              transition-prev="jump-up"
              transition-next="jump-up"
              style="background-color:#e8e8e8"
            >
              <q-tab-panel :name="(index+1)" :key="index" v-for="(fields,index) in formcontents" style="height:70vh;border-bottom:1px solid #ccc;">
              
                <div class="q-px-sm" v-for="(field,indexf) in fields">
                  <div class="titleField">{{field.name}}</div>
                <q-card class="q-mb-lg">
                  <div  v-if="whitelistlang.indexOf(field.typevalue) > -1">
                  <div style="max-width: 600px;">
                    <q-tabs v-model="langactive" align="left" dense inline narrow-indicator class="">
                      <q-tab class="q-py-sm labelmin text-grey-6" style="font-size:10px" :name="lang.value" :label="lang.label" :key="index2" v-for="(lang,index2) in languages" />
                    </q-tabs>
                  </div>
                  <q-separator />
                  <q-tab-panels v-model="langactive" animated class="bg-grey-1">
                    <q-tab-panel :name="lang.value" :key="index2" v-for="(lang,index2) in languages">
                       
                      <component :key="index" :index="index" :is="getFieldObj(field)" :lang="lang.value" :field="field" :type="getFieldType(field)"/>
                    </q-tab-panel>
                  </q-tab-panels>
                  </div>
                  <div v-if="whitelistlang.indexOf(field.typevalue) < 0">
                  
                      <component :key="index"  :index="index" :is="getFieldObj(field)"   :field="field" :type="getFieldType(field)"/>
                  </div>
                </q-card>

                </div>
              </q-tab-panel>
            </q-tab-panels>
          </template>
    </q-splitter>
      </q-tab-panel>
           <q-tab-panel name="properties">
             <div v-for="(bprop,ixprp) in properties" style="margin:10px">
                  <div style="font-size:16px;margin-bottom:5px">{{bprop.label}}</div>
                <div v-if="bprop.type == 'select'">

                  <q-select square filled v-model="bprop.value" @input="$forceUpdate()" :options="bprop.options"  />

                </div>
                <div v-if="bprop.type == 'input'">

                  <q-input   type="text" v-model="bprop.value" @input="$forceUpdate()" />

                </div>
                 <div v-if="bprop.type == 'inputColor'">
                    <div :style="{backgroundColor:bprop.value}" style="width: 45px; float: left; height: 45px; margin: 5px;margin-left:0px"></div>
                    <q-input
                    class="colorPicker"
                        filled
                          v-model="bprop.value" 
                          @input="$forceUpdate()"
                        >
                          <template v-slot:append>
                            <!-- <q-icon name="colorize" class="cursor-pointer">
                              <q-popup-proxy transition-show="scale" transition-hide="scale">
                                <q-color @input="$forceUpdate()" @change="val => { bprop.value = val }" :value="bprop.value" format-model="hex" />
                              </q-popup-proxy>
                            </q-icon> -->
                              <q-icon name="colorize" class="cursor-pointer">
                              <q-popup-proxy transition-show="scale" transition-hide="scale">
                                <q-color :no-header="true" @input="$forceUpdate()" @change="val => { bprop.value = val }" :value="bprop.value" format-model="rgba" />
                              </q-popup-proxy>
                            </q-icon>
                          </template> 
                        </q-input> 
         

                </div>
             </div>
          </q-tab-panel>
           <q-tab-panel name="condition" v-if="!ischild" style="padding-bottom:60px !important">
             <div  style="margin:10px">
                <div style="font-size:16px;margin-bottom:5px">Attivazione
                    <q-icon name="help_outline" class="cursor-pointer" style="font-size:24px">
                              <q-popup-proxy transition-show="fade" transition-hide="fade">
                                <div style="padding:20px;font-size:12px">                              
                                  Decidi se vuoi attivare o meno la visualizazione del blocco. Di default i blocchi sono sempre attivi
                                  </div>
                              </q-popup-proxy>
                          </q-icon>
                    </div>
                    <div class="row" style="height:80px;">
                      <div class="col">


                          <q-select square filled v-model="isActive" @input="$forceUpdate()" :options="optionCActive"  />


                      </div>
                    </div>
                  <div style="font-size:16px;margin-bottom:5px">Periodo Pubblicazione  
                    <q-icon name="help_outline" class="cursor-pointer" style="font-size:24px">
                              <q-popup-proxy transition-show="fade" transition-hide="fade">
                                <div style="padding:20px;font-size:12px">                              
                                  Imposta le date e l'orario di inizio o fine oppure un intervallo in cui il blocco è pubblicato.
                                  </div>
                              </q-popup-proxy>
                          </q-icon>
                    </div>
                   <div class="row" style="height: 70px">
                     <div class="col-3 col-sm-3">
                       <q-btn icon="event" round color="primary">
                        
                            <q-popup-proxy transition-show="scale" transition-hide="scale" ref="qDateProxy">
                              <div class=" row items-start">
                              <q-date v-model="publishFrom" mask="DD-MM-YYYY HH:mm:ss" with-seconds>
                                <div class="row items-center justify-end">
                                  <q-btn v-close-popup label="Chiudi" color="primary" flat />
                                </div>
                              </q-date> 
                              <q-time v-model="publishFrom" mask="DD-MM-YYYY HH:mm:ss"  format24h with-seconds @input="() => $refs.qDateProxy.hide()">
                                <div class="row items-center justify-end">
                                  <q-btn v-close-popup label="Chiudi" color="primary" flat />
                                </div>
                              </q-time>
                              </div>
                            </q-popup-proxy>
                            </q-btn>
                              <span style="margin-left:15px"><b>DAL:</b> {{publishFrom}}</span>
                     </div>
                     <div class="col-3 col-sm-3 offset-1">
                       <q-btn icon="event" round color="primary">
                        
                            <q-popup-proxy transition-show="scale" transition-hide="scale" ref="qDateProxy">
                              <div class=" row items-start">
                              <q-date v-model="publishTo" :options="publishTo => publishTo >= rangeFrom" mask="DD-MM-YYYY HH:mm:ss" with-seconds>
                                <div class="row items-center justify-end">
                                  <q-btn v-close-popup label="Chiudi" color="primary" flat />
                                </div>
                              </q-date> 
                              <q-time v-model="publishTo" mask="DD-MM-YYYY HH:mm:ss"  :options="(hr, min, sec) =>  minHoursTo(hr, min, sec) "  format24h with-seconds @input="$refs.qDateProxy.hide();">
                                <div class="row items-center justify-end">
                                  <q-btn v-close-popup label="Chiudi" color="primary" flat />
                                </div>
                              </q-time>
                              </div>
                            </q-popup-proxy>
                            </q-btn>
                              <span style="margin-left:15px"><b>AL:</b> {{publishTo}}</span>
                     </div>
                     </div>
                     <div style="font-size:16px;margin-bottom:5px">Nascondi su
                    <q-icon name="help_outline" class="cursor-pointer" style="font-size:24px">
                              <q-popup-proxy transition-show="fade" transition-hide="fade">
                                <div style="padding:20px;font-size:12px">                              
                                  Decidi se vuoi nascondere il blocco su un determinato tipo di dispositivo. Di default i blocchi sono visibili su tutti i tipi.
                                  </div>
                              </q-popup-proxy>
                          </q-icon>
                    </div>
                    <div class="row" style="height:80px;">
                      <div class="col">


                          <q-select square filled v-model="hideIn" @input="$forceUpdate()" :options="optionCDevice"  />


                      </div>
                    </div>
                   
             </div>
          </q-tab-panel>
          <q-tab-panel name="blockpage"  v-if="!ischild && isvirtual" style="padding-bottom:60px !important"> 
              <div class="row q-mt-md q-ml-md" >Questo blocco è presente nelle seguenti pagine:</div>
              <div class="row">
                  <div class="col-5">
              <div class="row q-mt-md q-ml-md" style="border-bottom:1px solid #ccc">
                <div class="col-1"><b>ID</b></div>
                <div class="col-10" ><b>Titolo Pagina</b></div>
              </div> 
              <div class="row q-mt-xs q-ml-md" style="border-bottom:1px solid #ccc" v-for="page in getListPageBlock()"> 
                <div class="col-1">{{page.id}}</div>
                <div class="col-10">{{page.title}}</div>
              </div>
              </div>
              </div>
            
          </q-tab-panel>
    </q-tab-panels>

  </q-form>

  </div>

</template>

<script>

import fieldComponents from './utils/fieldsLoader.js'

export default {
  name: 'EditForm',
  components: fieldComponents,
  data () {
    return {
      splitterModel: 10,
      tab: 1,
      tab2: 'content',
      langactive: prefixlang + '_IT',
      whitelistlang: ['string', 'text', 'textarea'], 
      publishFrom:"-",
      publishTo:"-",
      condition:[],
      isActive:{"value":1,"label":"Attivo"},
      optionCActive: [{"value":0,"label":"Non attivo"},{"value":1,"label":"Attivo"}],
      hideIn:{"value":0,"label":"Mostra su tutti"},
      optionCDevice: [{"value":0,"label":"Mostra su tutti"},{"value":1,"label":"Desktop"},{"value":2,"label":"Mobile"}],

    }
  },
  created () {
    if(!this.ischild)
    this.$root.$on('saveEditForm', this.saveForm)
    if(this.ischild)
    this.$root.$on('saveEditFormChild', this.saveFormChild)
    if(typeof this.conditionValues !== 'undefined' && this.conditionValues && this.conditionValues.length)
    {
      this.conditionValues.forEach((value, index) =>
      {
        
        if (value.name == 'publishedFrom') this.publishFrom = value.value
        if (value.name == 'publishedTo') this.publishTo = value.value
        if (value.name == 'isActive') 
        {
          this.optionCActive.forEach((v, i) =>
         {
           if(v.value == value.value) 
           this.isActive = v

         })
        }
         if (value.name == 'hideIn') 
        {
          this.optionCDevice.forEach((v, i) =>
         {
           if(v.value == value.value)
           this.hideIn = v

         })
        }
      })
    }
  },
computed: {
      
      rangeFrom()
      {
        if(this.publishFrom != '-')
        {
          var splitdate = this.publishFrom.split(' ')          
          var date = splitdate[0].split('-')

    
          return date[2]+'/'+date[1]+'/'+date[0]
        }
        else 
        {
          var d = new Date();
          var curr_year = d.getFullYear(); 
          return curr_year + "/01/01";
 
        }
      },
     
    
  },
  props: {
    formcontents: { type: Array },
    languages: { type: Array },
    ischild: { type: Boolean },
    blockData: { type: Object },
    selector: { type: Array },
    properties: { type: Array },
    isvirtual: { type: Boolean },
    conditionValues: [Object, Array],
    pages: [Object, Array],
    virtualId: [String],
  },
  methods: {
    getListPageBlock:function()
    {
    //  console.log( this.virtualId)
      var listpages = []
      if(this.pages.length)
      {
       this.pages.forEach((page, i) =>
         {
           if(page.contenuto)
           {
              var contentpage =  JSON.parse(page.contenuto)
              if(contentpage && typeof contentpage.body !== 'undefined' && typeof contentpage.body.sections !== 'undefined')
              { 
                  contentpage.body.sections.forEach((section, is)=>{
                    if(typeof section.rows !== 'undefined')
                    {
                      section.rows.forEach((row,is)=>{
                        row.columns.forEach((cl,ic)=>{
                            if(typeof cl.blocks !== 'undefined')
                            {
                              cl.blocks.forEach((blk,iblk)=>{
                              
                                  if(blk.type == 'virtualblock' && blk.contents.items[0].idblock == this.virtualId)
                                  {
                                    listpages.push({id:page.id,title:page.titolo})
                                  }
                                  if(typeof blk.virtualId !== 'undefined' && blk.virtualId == this.virtualId)
                                  {
                                    listpages.push({id:page.id,title:page.titolo})
                                    
                                  }
                              })

                            }
                        })
                      })
                    }
                  }) 
              }
           }
         }) 
      }
     return listpages
    },
   minHoursTo(hr, min, sec) 
   { 
     if(this.publishFrom != '-') 
     {
        var splitdate = this.publishFrom.split(' ')          
        var h = splitdate[1].split(':')
        
        if(hr && !min) return (hr >= parseInt(h[0]))
        if(min && !sec) return (min >= parseInt(h[1]))
        if(sec) return (sec >= parseInt(h[2]))
     }
     else 
     {
       if(hr) return true
        if(min) return true
        if(sec) return true
     }
   },
    saveForm: function (e) {
      this.getListConditions()
      
      this.$root.$emit('updateBlock', {isvirtual:this.isvirtual, formcontents: this.formcontents, condition:this.condition,properties: this.properties, selector: this.selector })
      this.$root.$emit('closeDialog')
    },
    saveFormChild: function (e) {

      this.$root.$emit('updateBlockChild', {codechild:this.blockData.code, formcontents: this.formcontents, properties: this.properties, selector: this.selector,itemindex:this.blockData.itemindex })
      this.$root.$emit('closeDialogChild')
    },
    getFieldObj (field) {
      return 'field' + field.type.split('.')[0]
    },
    getFieldType (field) {
      return field.type.split('.')[1]
    },
    getListConditions()
    {
      
        this.condition.push({name:"publishedFrom",value:this.publishFrom})
        this.condition.push({name:"publishedTo",value:this.publishTo})
        this.condition.push({name:"isActive",value:this.isActive.value})
        this.condition.push({name:"hideIn",value:this.hideIn.value})
      
    },

    addItem () {
      
      if(this.ischild)
        this.$root.$emit('editBlockChild', this.blockData.code, null)
      else 
        this.$root.$emit('editBlock', this.blockData.code, null)

    },
    removeItem (index) {
      this.formcontents.splice(index, 1)
    }

  },
  beforeDestroy () { // reset event
  if(!this.ischild)
    this.$root.$off('saveEditForm')
  
  if(this.ischild)
    this.$root.$off('saveEditFormChild')
  }
}
</script>
<style>
.q-tab__content.no-pointer-events {
    pointer-events: all !important;
}
.q-tab__content.column
{
  align-self: auto !important;
  flex-direction: row !important;
}
.labelmin .q-tab__label
{
 font-size:10px;
}
.btnremitem
{
  padding:0px !important;
  margin-left:10px;
  width:25%;
}
.q-tab-panel
{
  padding:4px 8px !important
}
.titleField {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    text-transform: capitalize;
}
.q-splitter__panel
{
  min-width: 14%;
}
.pl__content .q-card{
  background: rgb(255 255 255 / 22%);
}
.colorPicker
{
  
  max-width: 250px
}
.font-alert-virtual
{
  font-size: 12px;
}
.itemtab .q-tab__label{
  margin-left:-10px
}
 
</style>
