<template>

<div class="row">
 <div class="col-12 text-h6 q-pl-md q-pt-md">Aggiungi elemento</div>
 <div class="col-12">
<q-list>

        <!--  <template v-for="(blocks,index) in blockscat">

            <q-expansion-item expand-separator icon="web" :label="blocks[0].category"  :key="index">
              <template v-for="(block,index2) in blocks">
                <q-item :key="index2">
                  <q-item-section>{{block.fileName}}</q-item-section>
                  <q-btn color="secondary" size="10px" icon="add"  @click="addBlock(block.code)"/>
                </q-item>
              </template>
            </q-expansion-item>

            </template>-->
            <q-expansion-item expand-separator icon="web" label="Elementi Layout">
               <q-item>
                  <q-item-section>Riga</q-item-section>
                  <q-btn color="secondary" size="10px" icon="add"  @click="addRow()"/>
                </q-item>
                <q-item>
                  <q-item-section>Colonna</q-item-section>
                  <q-btn color="secondary" size="10px" icon="add"  @click="addColumn()"/>
                </q-item>
            </q-expansion-item>
        </q-list>
 </div>
 </div>

</template>

<script>
export default {
  name: 'ListBlock',
  components: {
  },
  data () {
    return {
      blocks: [],
      blockscat: {}
    }
  },
  props: {
    // listBlock:{type: Array},
  },
  computed: {

  },
  beforeMount () {
    // this.renderListBlock()
  },
  methods: {
    renderListBlock: function () {
      var self = this

      this.$axios
        .get(base_site_url + '/api/block/schema?v='+version)
        .then(response => {
          response.data.forEach((value, index) => {
            if (value.schema) {
              var category = 'Generale'
              if (typeof value.schema.name !== 'undefined') { var blockName = value.schema.name } else { var blockName = value.schema.code }

              if (typeof value.schema.category !== 'undefined') { category = value.schema.category }

              self.blocks.push({ category: category, code: value.schema.code, fileName: blockName, schema: value.schema })

              if (typeof self.blockscat[category] === 'undefined') self.blockscat[category] = []

              self.blockscat[category].push({ category: category, code: value.schema.code, fileName: blockName, schema: value.schema })
            }
          })

          //  self.listblock = response.data;
          this.$forceUpdate()
        })

      this.$root.blocks = this.blocks
    },
    addBlock: function (code) {
      this.$root.$emit('addBlock', code)
    },
    addRow: function (code) {
      this.$root.$emit('addRow', code)
    },
    addColumn: function (code) {
      this.$root.$emit('addColumn', code)
    }
  }
}
</script>
