<template>
<div class="q-pa-sm">
<q-dialog v-model="addblock" ref="dialogeditblock" :no-esc-dismiss="true" :no-backdrop-dismiss="true" transition-show="scale"  full-height transition-hide="fade">

      <q-card  style="width: 60vw; max-width: 60vw;background-color:#e8e8e8">
            <q-card-section>
                   <div class="q-pa-xs">
                      <div class="row">
                        <div class="col-9">
                          <h5 class="q-mt-xs" style="margin-bottom:25px;margin-top:0px">Aggiungi elemento</h5>
                        </div>
                      </div>

                     <q-tabs  v-model="tabblock"
                      dense
                      align="left"
                      class="bg-grey-3 shadow-1"
                      :breakpoint="0"
                    >
                      <q-tab :name="index" :label="blocks[0].category" v-for="(blocks,index) in blockscat" :key="index"/>
                      
                      <q-tab name="virtualblocks" label="Blocchi Virtuali" v-if="blocksvirtual.length"/>

                    </q-tabs>
                    <q-tab-panels v-model="tabblock" animated  transition-prev="fade"  transition-next="fade" style="height: calc(79vh - 70px);margin-top:2px;padding-top:10px">
                    <q-tab-panel :name="index" v-for="(blocks,index) in blockscat" :key="index">
                      <div class="row">
                        <div class="bglist1 col-6" v-for="(blk,index2) in chunk(blocks,(blocks.length+1)/2)"> 
                          <template v-for="(block,index2) in blocks.slice(index2 * (blocks.length+1)/2, (index2 + 1) * (blocks.length+1)/2)"> 
                                <q-item :key="index2"  class="" >
                                  <q-item-section>
                                    <div > {{block.fileName}}</div>
                                    <div  style="font-size:10px;color:#999" v-if="block.schema.helptext"><i>{{block.schema.helptext}}</i></div>
                                  </q-item-section>
                                  <q-btn color="secondary" size="10px" icon="add"  @click="addBlock(block.code)"/>
                                </q-item>  
                          </template>
                        </div>
                        </div>
                    </q-tab-panel>

                    <q-tab-panel name="virtualblocks"   v-if="blocksvirtual.length">
                      <div class="row">
                        <div class="bglist1 col-6" v-for="(blk,index2) in chunk(blocksvirtual,(blocksvirtual.length+1)/2)"> 
                          <template v-for="(block,index2) in blocksvirtual.slice(index2 * (blocksvirtual.length+1)/2, (index2 + 1) * (blocksvirtual.length+1)/2)"> 
                                <q-item :key="index2"  class="" >
                                  <q-item-section>
                                    <div >{{block.namevirtual}} ( {{block.nameblock}} )  </div>
                                    
                                  </q-item-section>
                                  <q-btn color="secondary" size="10px" icon="add_link"  @click="addBlockVirtual(block.contents.virtualId)"/>
                                </q-item>  
                          </template>
                        </div>
                        </div>
                    </q-tab-panel>
                    </q-tab-panels>
              </div>

        </q-card-section>
              <div class="row q-pa-lg absolute-bottom bg" style="padding-bottom:15px">
                <div class="col-10"></div>
                <div class="col-1 text-right "></div>
                <div class="col-1 text-right "><q-btn label="Chiudi" @click="closeDialog"  text-color="black" color="white"/></div>
              </div>

        </q-card>
</q-dialog>
</div>
</template>

<script>
import Uy from '../mixins/utilities'
import LocalForage from 'localforage'
export default {
  name: 'ModalListBlock',
  mixins: [Uy],
  components: {
  },
  data () {
    return {
      blocks: [],
      blockscat: {},
      blocksvirtual: [],
      ref: {},
      addblock: false,
      tabblock: "0"
    }
  },
  props: {
    // listBlock:{type: Array},
  },

  computed: {
    
  },
  created () {
    this.$root.$on('openDialogListBlock', this.openDialogListBlock)
  },
  beforeMount () {
    this.renderListBlock()
    this.getListVirtualBlock()
  },
  methods: {
   
    openDialogListBlock (data) {
      this.addblock = true
      this.ref = data 
      this.getListVirtualBlock()
    },
    closeDialog () {
      this.addblock = false
    },

    renderListBlock: function () {
       
      var self = this 
    // this.$axios.defaults.headers.get['CF-Access-Client-Id'] = CFAccessClientId;
    // this.$axios.defaults.headers.get['CF-Access-Client-Secret'] = CFAccessClientSecret;  

      this.$axios
        .get(base_site_url + '/api/block/schema?v='+version,{withCredentials: false} ).then(response => {
          response.data.forEach((value, index) => {
            if (value.schema) {
              var category = 'Generale'
              if (typeof value.schema.name !== 'undefined') { var blockName = value.schema.name } else { var blockName = value.schema.code }

              if (typeof value.schema.category !== 'undefined') { category = value.schema.category }

              self.blocks.push({ category: category, code: value.schema.code, fileName: blockName, schema: value.schema })

              var indexcat = 0
              var found = 0
              if(Object.keys(self.blockscat).length)
              {
                for(var jk in self.blockscat)
                { 
                  if(self.blockscat[jk].length && self.blockscat[jk][0].category == category) {
                    indexcat = jk
                    found = 1
                  } 
                } 
                if(!found)
                indexcat = Object.keys(self.blockscat).length+1
              }
              if (typeof self.blockscat[indexcat] === 'undefined') 
              {
                self.blockscat[indexcat] = []
              }
              self.blockscat[indexcat].push({ category: category, code: value.schema.code, fileName: blockName, schema: value.schema })
              self.blockscat[indexcat].sort((a, b) => (a.fileName > b.fileName) ? 1 : (a.fileName === b.fileName) ? ((a.fileName > b.fileName) ? 1 : -1) : -1 )
            
            }
          })  
          //  self.listblock = response.data;
          this.$forceUpdate()
        })

      this.$root.blocks = this.blocks
    },
    getListVirtualBlock:function(){
      this.blocksvirtual = []
      var self = this
        LocalForage.getItem("TPPG_BLKVIRTUAL").then(function (value) {
          if(value)
          {
            var jsonv = JSON.parse(value)
            if(typeof jsonv.body !== 'undefined')
            {
              jsonv.body.sections[0].rows[0].columns.forEach((colmn, index) => 
              {   
                if(colmn.blocks.length)
                {
                  colmn.blocks.forEach((block, index) => 
                  {
                    self.blocksvirtual.push({contents:block,nameblock:block.name,namevirtual:block.virtualName})
                  })    
                }
              })
            }
          }
         })
        // console.log(this.blocksvirtual)
    },
    addBlock: function (code) {
      this.addblock = false
      this.$root.$emit('addBlock', { code: code, selector: this.ref })
    },
    addBlockVirtual: function (id) {
      this.addblock = false
  
      this.$root.$emit('addBlockVirtual', { id: id, selector: this.ref })
    }
  }
}
</script>
<style>
.q-item{
      min-height: 55px;
      border: 1px solid #fff;  
}

 
 .bglist1 .q-item:nth-child(even)
{

  background-color:#f3f3f3
}
.q-item:hover{
  background: #def1ef  !important;
}
</style>
