<template>
 <div class="q-pa-sm">
    <div class="q-gutter-sm row items-start">
      <div class="col-12 q-pl-sm" v-if="nodeSelected">Selected Value: <b> {{nodeSelected.label}}</b></div>
      <div class="col-10 q-pl-sm q-pt-sm">
      <!-- <q-tree ref="tree" class="col-12 col-sm-6"
        :nodes="treeValues"
        node-key="id"        
        label="label"     > 
 

        <template v-slot:default-header="prop">
        <div class="row items-center">
          <div class="col-12 text-weight-bold text-primary">
            <q-radio  lazy-rules  v-model="inputValue" :label="prop.node.label"  :val="prop.node.id" v-if="prop.node.isaValue"/>  
            <div v-else>{{ prop.node.label }}</div> 
          </div>
        </div>
      </template>
      
      
    </q-tree> --> 
    <q-input
       
      :ref="'filter'+idr"
      dense 
      filled
      v-model="filter"
      label="Filtra"
   
      @input ="getFilteredNodes"
    >
      <template v-slot:append>
        <q-icon v-if="filter !== ''" name="clear" class="cursor-pointer" @click="resetFilter"></q-icon>
      </template>
    </q-input> 

    <q-tree
      :nodes="datatree"
      node-key="key"
      label="label"
      :ref="'treeview'+idr"
      :filter="filter"
      :filter-method="myFilterMethod"
      :selected.sync="selection"
      @update:selected="getSelected"
      selected-color="primary"
      default-expand-all
    ></q-tree>

  
        </div>
        </div>
        

    </div>

</template>

<script> 

export default {
  name: 'fieldTreenodes',
 
  data () {
    return {
      
      token:tokenB,
      epService:epService ,
      
      filteredNodes:[],
      datatree: [],
      idr:Math.random()*100,
        /*{
          label: 'Satisfied customers',
          children: [
            {
              label: 'Good food',
              children: [
                { label: 'Quality ingredients' },
                { label: 'Good recipe' }
              ]
            },
            {
              label: 'Good service (disabled node) (*)',
              children: [
                { label: 'Prompt attention' },
                { label: 'Professional waiter' }
              ]
            },
            {
              label: 'Pleasant surroundings',
              children: [
                { label: 'Happy atmosphere (*)' },
                { label: 'Good table presentation' },
                { label: 'Pleasing decor (*)' }
              ]
            }
          ]
        }*/
      //],
      filter: '',
      nodeSelected: '',
      selection: ''
    }
  },
      

  props: {
    type: { type: String },
    field: { type: Object }
  },
  mounted () 
  {
    //      this.$refs.tree.setTicked([ 'Satisfied customers' ], true);
     this.nodeSelected = this.inputValue
    this.makeData()
  },
  computed: 
  {
    // labelValueSelected:{
    //   get(){
    //     let label = '' 
    //     return label
    //   }
    // },
    inputValue:
      {
        get () {  
           return this.field.value
        },
        set (value) {
          if(typeof value !== 'object')
           this.field.value = value
        }
      },
    
    
  },
  methods:
    {
      makeData()
      {
        var response = ''
        if(this.field.typevalue.method == 'GET')
        {
            response =  this.$axios
            .get(this.epService + this.field.typevalue.dataservice,
              { headers: { 'Content-type': 'application/json','Authorization' : 'Bearer '+this.token } 
              })
        }
        else {
          
           response =  this.$axios
            .post(this.epService + this.field.typevalue.dataservice, decodeURIComponent(this.field.typevalue.reqdata),
              { headers: { 'Content-type': 'application/json','Authorization' : 'Bearer '+this.token } 
              })
        }
        
        
            response.then(response => {
                if (response.data) 
                {
                  //"countries:name;countries.regions:name;countries.regions.localities:name",
                  let nodes = this.field.typevalue.fields.split(',')
                  nodes.forEach((node, x1) =>
                  {
                  let levels = node.split(';')
                  
                  
                  
                    
                    var ch1 = []
                     var ch2 = []
                  let level0 = levels[0].split(':')
                  console.log(response.data)
                  console.log(level0)
                  if(typeof response.data[level0[0]] !== 'undefined')
                  {
                  response.data[level0[0]].forEach((d1, x1) =>
                  {
                   
                      console.log(d1)
                    if(levels.length >= 1)
                    { 
                      let level1
                      if(typeof levels[1] !== 'undefined')
                      {

                      
                       level1 = levels[1].split(':')

                      if(typeof d1[level1[0].replace(level0[0]+'.','')] !== 'undefined')
                      { 
                          ch1 = []
                          ch2 = []
                        d1[level1[0].replace(level0[0]+'.','')].forEach((d2, x2) =>
                        { 
                          ch2 = []
                          if(levels.length >= 2)
                          {
                             var  ch3 = []
                              if(typeof levels[2] !== 'undefined')
                            {
                              let level2 = levels[2].split(':')
                              d2[level2[0].replace(level1[0]+'.','')].forEach((d3, x3) =>
                              {
                                

                                if(level2.length > 1)
                                {
                                  var level2_2 = level2[1].split(',')
                                  for(let i=0;i < level2_2.length;i++)
                                    {
                                      
                                      if(typeof d3[level2_2[i]] !== 'undefined')
                                      { 
                                        ch2.push(
                                                      {
                                                        key:'l3'+d3[level2_2[i]],
                                                        label:d3[level2_2[i]],
                                                        value:d3[level2_2[i]],
                                                        children:ch3
                                                      }
                                                )
                                      }

                                    }
                                }
                              })

                          }
                          }

                          if(level1.length > 1)
                          {
                            var level1_1 = level1[1].split(',')
                            console.log(level1_1)
                            for(let i=0;i < level1_1.length;i++)
                              {
                                
                                if(typeof d2[level1_1[i]] !== 'undefined')
                                { 
                                  ch1.push(
                                                {
                                                   key:'l2'+d2[level1_1[i]],
                                                  label:d2[level1_1[i]],
                                                 // value:d2[level1_1[i]],
                                                  children:ch2
                                                }
                                          )
                                }

                              }
                          }
                        })

                      }
                      }
                    }
                    if(level0.length > 1)
                    {
                      var level0_0 = level0[1].split(',')
                      for(let i=0;i<level0_0.length;i++)
                      {
                        
                        if(typeof d1[level0_0[i]] !== 'undefined')
                        { 
                          this.datatree.push(
                                        {
                                          key:'l1'+d1[level0_0[i]],
                                          label:(!Array.isArray(d1[level0_0[i]])) ?  d1[level0_0[i]] : level0_0[i],
                                        //  value:d1[level0_0[i]],
                                          children:ch1
                                        }
                                  )
                        }

                      }
                      }
                       
                  }) 
                  }
                   })
                }
                 this.$nextTick(() => {
                  if(this.inputValue)
                  {

                    this.nodeSelected = this.$refs['treeview'+this.idr].getNodeByKey('l1'+this.inputValue)
                    this.selection = 'l1'+this.inputValue
                    if(!this.nodeSelected)
                    {
                      this.nodeSelected = this.$refs['treeview'+this.idr].getNodeByKey('l2'+this.inputValue)
                      this.selection = 'l2'+this.inputValue
                    }
                    if(!this.nodeSelected)
                    {
                      this.nodeSelected = this.$refs['treeview'+this.idr].getNodeByKey('l3'+this.inputValue)
                      this.selection = 'l3'+this.inputValue
                    }
                  }

            })
           
            })
           

      },

       myFilterMethod (node, filter) {
      const filt = filter.toLowerCase()
      return node.label && node.label.toLowerCase().indexOf(filt) > -1
    },

    resetFilter () {
      this.filter = ''
      this.$refs['filter'+this.idr].focus()
    },
    
    getSelected (val) { 
      if (val){
        
        this.nodeSelected = this.$refs['treeview'+this.idr].getNodeByKey(val);
        this.inputValue = this.nodeSelected.label 
        //  console.log(this.$refs['treeview'+this.idr].meta)
      }
      
    },
    getFilteredNodes(){
    let tree = this.$refs['treeview'+this.idr].$refs 
    this.filteredNodes = 
      Object.keys(tree)
      .filter(node => tree[node] !== undefined)
      .map(nodename => nodename.replace('blurTarget_',''))  
    }
      /*tickedNode (v) { 

        if(!this.ticked.length  ) this.ticked = v
        else if(v.length > 1) this.ticked = []
      },*/
      /*selectNode (v) {
       if(typeof v.type !== 'undefined')
       {
         
          
     
       }
       return
            
    },*/
    
      
 
      

    }
}
</script>
<style>
.q-tab__label{
  margin-left:7px
}
.q-tree__node--selected div{ 
    font-weight: 700;
  
}
</style>
