<template>

<div class="q-pa-md q-gutter-sm">
    <q-editor   ref="editor_ref" v-model="inputValue" min-height="10rem" :model="inputValue" :label="field.name" :name="field.name"  :toolbar="[
        ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
        ['token', 'link','quote', 'unordered', 'ordered', 'outdent', 'indent'],
        ['undo', 'redo'],
        [
       {
            label: $q.lang.editor.align,
            icon: $q.iconSet.editor.align,
            fixedLabel: true,
            list: 'only-icons',
            options: ['left', 'center', 'right', 'justify']
          }
    ],
        ['viewsource']
      ]" />
  <div class="text-right"><q-btn @click="cleanFormat()"   size="sm" outline color="dark" icon="brush">Pulisci</q-btn></div>
  </div>
</template>

<script>
import sanitizeHtml from 'sanitize-html';

export default {
  name: 'fieldTextarea',
  data () {
    return {

    }
  },
  props: {
    type: { type: String },
    field: { type: Object },
    lang: { type: String }
  },
  computed: {
    inputValue:
      {
        get () {
          
          return (this.lang) ? this.field.value[this.lang] : this.field.value
        },
        set (value) {
          if (this.lang) { this.field.value[this.lang] = value } else { this.field.value = value }
        }
      }
  },
  methods: {
    // stripHTML(text) {
    //   var regex =/<(?!((?:\/\s*)?(?:br|b|u|[o|i]l|li|img|a)))([^>])+>/gi;
    //   var regexStyle =/(style=")([a-zA-Z0-9:;\.\s\(\)\-\,]*)(")/gi;
    //   text =  text.replace(regex, "");
    //   return text.replace(regexStyle, "");
      

    // },
    cleanFormat(){  
      this.inputValue = sanitizeHtml(this.inputValue, {
        allowedTags: [ 'ul','li','b', 'i','img', 'em', 'strong', 'a','br','span' ],
        allowedAttributes: {
          a: [ 'href', 'name', 'target' ],
          span: [ 'style' ],
          img: [ 'src' ]
        },
         allowedStyles: {
            // Match HEX and RGB
           // 'color': [/^#(0x)?[0-9a-f]+$/i, /^rgb\(\s*(\d{1,3})\s*,\s*(\d{1,3})\s*,\s*(\d{1,3})\s*\)$/],
            'text-align': [/^left$/, /^right$/, /^center$/],
            //'font-size': [/^\d+(?:px|em|%)$/],
            'font-weight': ['*']

          },
         transformTags: {
            'span': function(tagName, attribs) {
                var regex = RegExp(/(?<=font-weight: )[0-9A-Za-z]+(?=;)/gi)
              
                if(regex.test(attribs.style))
                {
                  // My own custom magic goes here
                      return {
                        tagName: 'strong',
                        
                      };
                }
                else {
                  return {
                        tagName: 'span',
                        
                      };
                }
            }
        }
        
      })

    },
//  pasteCapture (evt) {
//       // Let inputs do their thing, so we don't break pasting of links.
//       if (evt.target.nodeName === 'INPUT') return
//       let text, onPasteStripFormattingIEPaste
//       evt.preventDefault()
//       if (evt.originalEvent && evt.originalEvent.clipboardData.getData) {
//         text = evt.originalEvent.clipboardData.getData('text/plain')
//         this.$refs.editor_ref.runCmd('insertText', text)
//       }
//       else if (evt.clipboardData && evt.clipboardData.getData) {
//         text = evt.clipboardData.getData('text/plain')
//         this.$refs.editor_ref.runCmd('insertText', text)
//       }
//       else if (window.clipboardData && window.clipboardData.getData) {
//         if (!onPasteStripFormattingIEPaste) {
//           onPasteStripFormattingIEPaste = true
//           this.$refs.editor_ref.runCmd('ms-pasteTextOnly', text)
//         }
//         onPasteStripFormattingIEPaste = false
//       }
//       } 
  }
}
</script>
