<template>
 <div class="q-pa-sm">
    <div class="q-gutter-sm row items-start">
      <div class="col-12 q-pl-sm" v-if="labelValueSelected">Selected Value: <b> {{labelValueSelected}}</b></div>
      <div>
      <q-tree ref="tree" class="col-12 col-sm-6"
        :nodes="treeValues"
        node-key="id"        
        label="label"     > 
 

        <template v-slot:default-header="prop">
        <div class="row items-center">
          <div class="col-12 text-weight-bold text-primary">
            <q-radio  lazy-rules  v-model="inputValue" :label="prop.node.label"  :val="prop.node.id" v-if="prop.node.isaValue"/>  
            <div v-else>{{ prop.node.label }}</div> 
          </div>
        </div>
      </template>
      
      
    </q-tree>
  
        </div>
        </div>
        

    </div>

</template>

<script> 

export default {
  name: 'fieldTree',
 
  data () {
    return {
      //uid: app_uid,
     // sig: app_sig, 
      dataTree:dataTree,
      filelist: [], 
      val:null, 
      treeValues: [],
        expanded:[],
       ticked:[],
    }
  },
      

  props: {
    type: { type: String },
    field: { type: Object }
  },
  mounted () {
    //      this.$refs.tree.setTicked([ 'Satisfied customers' ], true);
    
    this.getListValues()
    
  },
  computed: {
    labelValueSelected:{
      get(){
        let label = ''
        let vsplit = this.inputValue.split('-')
        this.treeValues.forEach((d1)=>
        {
          if(vsplit[0] == d1.id)
          {
            label+=d1.label
            d1.children.forEach((d2)=>{
              if(d2.id == vsplit[1]) 
              {
                 label+=' / '+d2.label+' / '+vsplit[2]
                
              }
            })

          }

        })
        return label
      }
    },
    inputValue:
      {
        get () {
          return this.field.value
        },
        set (value) {
          this.field.value = value
        }
      },
    
    
  },
  methods:
    {
      /*tickedNode (v) { 

        if(!this.ticked.length  ) this.ticked = v
        else if(v.length > 1) this.ticked = []
      },*/
      /*selectNode (v) {
       if(typeof v.type !== 'undefined')
       {
         
          
     
       }
       return
            
    },*/
    
      getListValues () {
        
        //console.log(this.field.typevalue)
        //0 = tree , 1 = campi ( multipli separati da ,), 2 = type del campo 1 e lista valori selezionabili
        let fieldspart = this.field.typevalue.split(':')
        let leafChildren = fieldspart[1].split(',') 
        let datat =  this.dataTree[leafChildren[0]] 
       
        
        datat.forEach((v, index) =>
        {
            
          var child1 = []
          if(typeof v[leafChildren[1]] !== 'undefined')
          {

              v[leafChildren[1]].forEach((v2,index2)=>
              {
                if(v2.type)
                { 
                  if(typeof v2[fieldspart[2]] !== 'undefined')
                  {
                    var child2 = []
                     v2[fieldspart[2]].forEach((f,index3)=>
                    {

                      child2.push({id:v.id+'-'+v2.senskey+'-'+f,label:f,isaValue:true})
                    })
                  }

                child1.push({id:v2.senskey,label:v2.name,children:child2,isaValue:false})
                }
              })
          }
          this.treeValues.push({id:v.id,label:v.name,children:child1,isaValue:false}) 
        })
        
 
      
      },
 
      

    }
}
</script>
<style>
.q-tab__label{
  margin-left:7px
}
</style>
