<template>

<div class="q-pa-md q-gutter-sm q-mt-md" style="max-width: 100%;min-height:200px"> 
   <q-input
                type="textarea"
                v-model="inputValue"
                autofocus
                style="background:rgb(245 249 0 / 15%);"
                :model="inputValue" :label="field.name" :name="field.name" 
              />

  </div>
</template>


<script> 

export default {
  name: 'fieldLongText',
  data () {
    return {

    }
  },
  props: {
    type: { type: String },
    field: { type: Object },
    lang: { type: String }
  },
  computed: {
    inputValue:
      {
        get () { 
          return (this.lang) ? this.field.value[this.lang] : this.field.value
        },
        set (value) {
          if (this.lang) { this.field.value[this.lang] = value } else { this.field.value = value }
        }
      }
  },
  methods: {
      
  }
}
</script>
