<template>

<div class="q-pa-md q-gutter-sm q-mt-md"> 
  
  <q-select square filled  v-model="inputValue"  @input="$forceUpdate()" :options="listOptions"/>

</div>
</template>

<script> 
export default {
  name: 'fieldOption',
 
  data () {
    return {
      listOptions:[],
      val:null, 
    }
  },
      

  props: {
    type: { type: String },
    field: { type: Object }
  },
  mounted () {
    //      this.$refs.tree.setTicked([ 'Satisfied customers' ], true);
    
    this.getListValues()
    
  },
  computed: {
    inputValue:
      {
        get () {
          return this.field.value
        },
        set (value) {
          this.field.value = value
        }
      },
    
    
  },
  methods:
    {
      getListValues () {

        let fieldspart = this.field.typevalue.split(':')
        var values = this.field.typevalue.replace('options:','').replace('{','').replace('}','')
        values = values.split(',')
        values.forEach((v) =>
        {
          let splitted = v.split(':')
          this.listOptions.push({label:splitted[0],value:splitted[1]})

        })
       
        
      
      },
 
      

    }
}
</script>
<style>
.q-tab__label{
  margin-left:7px
}
</style>
