<template> 
 <q-select v-model="inputValue"  outlined :options="options" :name="field.name"  lazy-rules :type="type"  />
</template>

<script>
export default {
  name: 'fieldTarget',
  data () {
    return {
      options:['_self','_blank','_parent','_top']
    }
  },
  props: {
    type: { type: String },
    lang: { type: String },
    field: { type: Object }
  },
  computed: {
    inputValue:
      {
        get () {
          return (this.lang) ? this.field.value[this.lang] : this.field.value
        },
        set (value) {
          if (this.lang) { this.field.value[this.lang] = value } else { this.field.value = value }
        }
      }
  },
  methods: {

  }
}
</script>
