<template>

<div class="q-pa-md q-gutter-sm q-mt-md"> 
   <q-input
                type="textarea"
                v-model="inputValue"
                autofocus
                counter
                :model="inputValue" :label="field.name" :name="field.name" 
              />
  <div v-if="inputValue">Anteprima Path</div>
  <div v-html="inputValue"></div>
  </div>
</template>

<script>
export default {
  name: "fieldSvg",
  data(){
    return { 
      
    } 
  },
  props: {
    type: {type:String},
    field: {type:Object},
     lang: {type:String},
  },
  computed:{
      inputValue:
      {
            get()
            { 
              return (this.lang) ? this.field.value[this.lang] : this.field.value;
            },
            set(value)
            {
              if(this.lang)
                this.field.value[this.lang] = value
              else 
                this.field.value = value
            } 
      }
  },
    methods: {
     
    }
}
</script>