<template>

<div class="q-pa-md q-gutter-sm q-mt-md"> 

   <q-input filled v-model="inputValue" :value="inputValue" :name="field.name" :label="field.name" >
      <template v-slot:prepend>
          <q-icon name="event" class="cursor-pointer">
          <q-icon name="access_time" class="cursor-pointer"></q-icon>
          <q-popup-proxy transition-show="scale" transition-hide="scale" ref="qDateProxy">
            <div class=" row items-start">
            <q-date v-model="inputValue" mask="DD-MM-YYYY HH:mm:ss" with-seconds>
              <div class="row items-center justify-end">
                <q-btn v-close-popup label="Chiudi" color="primary" flat />
              </div>
            </q-date> 
            <q-time v-model="inputValue" mask="DD-MM-YYYY HH:mm:ss"  format24h with-seconds @input="() => $refs.qDateProxy.hide()">
              <div class="row items-center justify-end">
                <q-btn v-close-popup label="Chiudi" color="primary" flat />
              </div>
            </q-time>
            </div>
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
</div>
</template>

<script>
import moment from 'moment'

export default {
  name: "fieldDateTime",
  data(){
    return { 
      
    } 
  },
  props: {
    type: {type:String},
    field: {type:Object},
     lang: {type:String},
  },
  computed:{
      inputValue:
      {
            get()
            { 
              return (this.lang) ? this.field.value[this.lang] : ( (moment(this.field.value,'YYYY-MM-DD HH:mm:ss', true).isValid()) ? moment(this.field.value,'YYYY-MM-DD HH:mm:ss').format('DD-MM-YYYY HH:mm:ss') : '');
            },
            set(value)
            {  
              if(this.lang)
                this.field.value[this.lang] =  moment(value,'DD-MM-YYYY HH:mm:ss').format('YYYY-MM-DD HH:mm:ss') 
              else 
                this.field.value = moment(value,'DD-MM-YYYY HH:mm:ss').format('YYYY-MM-DD HH:mm:ss') 
            } 
      }
  },
    methods: {
     
    }
}
</script>
<style>
.q-time,.q-date{
  border-radius:0px
}
</style>
