<template>
 <div class="q-pa-sm">
    <div class="q-gutter-sm row items-start">
      <div style="font-size:14px" class="col-sm-12 text-grey-7">{{field.name}}</div>
      <q-img v-if="fullSrcImage" :src="fullSrcImage" style="height: 140px; max-width: 150px;background: #ccc;"/>
    </div>
    <div class="q-gutter-sm row items-start q-my-sm">
      <q-btn label="Gestisci Media" size="sm" color="primary" @click="basic = true" />
      <q-btn v-if="imageSrc" label="Modifica" size="sm" color="positive" @click="openEdit" />
      <q-btn v-if="imageSrc" label="Reset" size="sm" color="secondary" @click="imageSrc = null" />
    </div>
        <q-dialog v-model="editImage" ref="dialogfile"  transition-show="slide-down"   transition-hide="slide-up">
            <q-card style="width: 900px; max-width: 80vw;min-height:90vh">
        
                  <q-card-section>
                    <cropper
                        class="cropper"
                        :src="fullSrcImage"
                        @ready="cropperReady"
                        ref="cropper"
                        :stencil-props="stencilProps"
                        @change="change"
                      ></cropper>

                      <!-- <q-checkbox v-model="activeAR" @input="updateAR()" label="Mantieni proporzioni" />  -->

                      
                    <div class="q-gutter-sm q-my-md row items-start">
                      <q-btn   title="Ruota a sinistra" outline color="primary" @click="rotate(-90)"> 
                         <span class="material-icons">
                          rotate_left
                          </span>
                      </q-btn>

                      <q-btn class="" title="Ruota a destra" outline color="primary" @click="rotate(90)"> 
                          <span class="material-icons">
                          rotate_right
                          </span>
                      </q-btn>
                  </div>
                      <q-item-section>
                        <q-input filled label="alt" name="alt" hint=""  type="text"  v-model="fileExtra.alt"/>
                        <q-input filled label="title" name="title" hint="" type="text"  v-model="fileExtra.title"/>
                      </q-item-section>



                    <q-btn size="md" color="secondary"  v-model="activeAR" @click="crop()" label="Conferma" />

                  </q-card-section>
            </q-card>
        </q-dialog>
        
        <q-dialog v-model="basic" ref="dialogfile"  transition-show="slide-down"   transition-hide="slide-up">

              <q-card style="width: 900px; max-width: 80vw;min-height:90vh">

                  <q-card-section>

                          <q-tabs v-model="tabupload" dense class=" text-blue" >

                              <div class="text-h6 q-pl-md">Gestione File</div>
                             <q-space />
                              <q-tab name="upload" icon="cloud_upload" label="Carica"/>
                                <q-tab name="image" icon="image" label="Scegli"/>
                                <q-tab name="urladdress" icon="link" label="Indirizzo Url"/>
                            </q-tabs>
                         <q-tab-panels v-model="tabupload" animated transition-prev="jump-right"  transition-next="jump-right">
                              <q-tab-panel name="upload">
                                <q-uploader
                                  :name="field.name"
                                  :factory="factoryFn"
                                  fieldName="file[]"
                                  :headers="[{name: 'X-CSRF-TOKEN', value: token},{name:'X-Requested-With',value:'XMLHttpRequest'}]"
                                  :form-fields="[{name:'csrf_token',value:token},{name: 'extra', value: JSON.stringify(newFileExtra)}]"
                                  style="width:100%;min-height:40vh"

                                  @uploaded="handleUploaded"
                                  @failed="handleFailed"
                                  >
                                    <template v-slot:list="scope">
                                  <q-list separator>

                                    <q-item v-for="file in scope.files" :key="file.name" style="width:100%">
                                      <q-item-section
                                        v-if="file.__img"
                                        thumbnail
                                      >
                                        <img :src="file.__img.src" style="width:auto;min-height: 30vh;"/>
                                      </q-item-section>
                                      <q-item-section  v-if="file.__img" >
                                        <q-input filled label="alt" name="alt" hint="" lazy-rules type="text" v-model="newFileExtra.alt"/>
                                        <q-input filled label="title" name="title" hint="" lazy-rules type="text" v-model="newFileExtra.title"/>
                                      </q-item-section>

                                    </q-item>
                                  </q-list>
                                  </template>
                                  </q-uploader>
                            </q-tab-panel>
                            <q-tab-panel name="image"  style="height:85vh;overflow-y:scroll;">
                              <div class="q-gutter-md row items-start" style="padding-bottom:70px">
                                 
                              <!-- <q-img spinner-color="white" style="height: 140px;max-width: 150px;background: #ccc;"  @click="selimg(img.url)" v-for="(img, imgindex) in filelist"
                                    :src="stepped_scale(pathassets+img.url, 250, 0.5)" :key="imgindex"/> -->
                                    <img @click="selimg(img.url)" :src="getUrlImage(img.url)" :id="'id'+imgindex" v-for="(img, imgindex) in filelist"  style="height: 140px;max-width: 150px;background: #ccc;">
                                    <br><q-btn color="secondary" v-show="showButton"  label="Vedi tutte" size="sm" @click="getListFile(-1)" />
                              </div>
                            </q-tab-panel>
                            <q-tab-panel name="urladdress"  style="height:75vh;">
                              <div class="q-gutter-md  items-start">
                                <div class="row">
                                  <div class="col-12" style="font-size:16px;margin-top:40px">Indirizzo url immagine</div>
                                </div>
                                 <div class="row">
                                <div class="col-10" style="margin-top:0px">
                                  <q-input name="url"  lazy-rules type="text" v-model="imageUrl"/>
                                </div>
                                <div class="col-2 text-center	" style="margin-top:0px">
                                    <q-btn color="secondary" label="Seleziona" @click="selimglink()"/>
                                    
                                </div>
                                 </div>
                                 <div class="row">
                                   <div class="col-12">
                                     <q-img v-if="imageUrl" :src="imageUrl" style="height: 300px; max-width: 300px;background: #ccc;"/>
                                   </div>
                                 </div>
                              </div>
                            </q-tab-panel>
                       </q-tab-panels>
                       
                  </q-card-section>

       <div class="row q-pa-md q-pr-lg absolute-bottom bg-grey-1">
          <div class="col-11"></div>
          <div class="col-1 text-right "><q-btn label="Chiudi"  v-close-popup  text-color="black" color="white"/></div>
        </div>
      
              </q-card>
    </q-dialog>

    </div>

</template>

<script>
import { Cropper } from 'vue-advanced-cropper'
import 'vue-advanced-cropper/dist/style.css';
export default {
  name: 'fieldUpload',
  data () {
    return {
      token: null,
      basic: false,
      activeAR: false,
      editImage: false,
      imageSrc: '',
      imageUrl:'',
      stencilProps:{aspectRatio: ''},
      uid: app_uid,
      sig: app_sig,
      tabupload: 'upload',
      filelist: [],
      newFileExtra: {
        alt: '',
        title: ''
      },
      fileExtra: {
        alt: '',
        title: ''
      },
      showButton: true,
      pathFile: app_path + 'api/cmssite/' + site_id,
      pathassets: pathmedia,
      resized: resized,
      maxImage: imgtoView,
      subpathimg:subpathresize,
      resizeReplacePath:resizereplacepath,
      pathUpload: app_path + 'admin/' + modelmedia + '/cmssite/' + site_id,
      
    }
  },
  components: {
    Cropper
  },
  props: {
    type: { type: String },
    field: { type: Object }
  },
  mounted () {
    this.getListFile(this.maxImage)
  },
  computed: {
    inputValue:
      {
        get () {
          if(typeof this.field.value.data === 'undefined')
          {
            let u = this.field.value
            this.field.value = {}
            this.field.value.data = {url:'',alt:'',title:''}
          }

          this.fileExtra.alt = this.field.value.data.alt
          this.fileExtra.title = this.field.value.data.title

          return this.field.value
        },
        set (value) {
          this.field.value = value
        }
      },
      fullSrcImage()
      {
        if(!this.imageSrc && this.inputValue){
          if(typeof this.inputValue.data !== 'undefined')
          {
            this.imageUrl = this.inputValue.data.url
            return this.inputValue.data.url
          }
          else return ''
        }
        else if(this.imageSrc.indexOf('http') > -1) return this.imageSrc
        else return this.pathassets+this.imageSrc
      }
    
  },
  methods:
    {
      rotate(angle) {
		  	this.$refs.cropper.rotate(angle);
		  },
       updateAR()
       {
        if(this.activeAR) this.stencilProps.aspectRatio = 1/1
        else this.stencilProps.aspectRatio = ''
        this.$refs.cropper.refresh()
        
       },
      	crop() {
			const { coordinates, canvas,imageTransforms } = this.$refs.cropper.getResult();
			this.coordinates = coordinates;
			// You able to do different manipulations at a canvas
			// but there we just get a cropped image, that can be used 
			// as src for <img/> to preview result
		//this.fullSrcImage = canvas.toDataURL();
      this.editImage = false  

      this.inputValue.data.alt = this.fileExtra.alt 
      this.inputValue.data.title = this.fileExtra.title 
      this.inputValue.data.width = this.coordinates.width 
      this.inputValue.data.height = this.coordinates.height 
      this.inputValue.data.left = this.coordinates.left 
      this.inputValue.data.top = this.coordinates.top  
      this.inputValue.data.rotate = imageTransforms.rotate  
      console.log(this.$refs.cropper)
      console.log(this.inputValue)
		},

       change(args) {
      console.log(args)
    },
      getUrlImage(url){
        if(this.resized)
        {
          
           let urlImage =  url.replace(this.resizeReplacePath,'')
              
           if(urlImage)
           {
            return this.pathassets+this.subpathimg+'/c200-200-95/'+urlImage
           }
        }
        else return this.pathassets+url
      },
      stepped_scale(src, width, step,id) 
      { 
        
        var img = new Image();
        img.crossOrigin = "Anonymous";
       
        img.src = src
      img.onload = function() {
          var canvas = document.createElement('canvas'),
            ctx = canvas.getContext("2d"),
            oc = document.createElement('canvas'),
            octx = oc.getContext('2d');

          canvas.width = width; // destination canvas size
          canvas.height = canvas.width * img.height / img.width;

          if (img.width * step > width) { // For performance avoid unnecessary drawing
            var mul = 1 / step;
            var cur = {
              width: Math.floor(img.width * step),
              height: Math.floor(img.height * step)
            }

            oc.width = cur.width;
            oc.height = cur.height;

            octx.drawImage(img, 0, 0, cur.width, cur.height);

            while (cur.width * step > width) {
              cur = {
                width: Math.floor(cur.width * step),
                height: Math.floor(cur.height * step)
              };
              octx.drawImage(oc, 0, 0, cur.width * mul, cur.height * mul, 0, 0, cur.width, cur.height);
            }

            ctx.drawImage(oc, 0, 0, cur.width, cur.height, 0, 0, canvas.width, canvas.height);
          } else {
            ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
          }

          if(document.getElementById(id)) document.getElementById(id).src = canvas.toDataURL()
          return canvas.toDataURL();
}
    },
    cropperReady(){
  if(typeof this.inputValue.data !== 'undefined') 
      this.$refs.cropper.setCoordinates({
          width: this.inputValue.data.width,
          height: this.inputValue.data.height,
          left: this.inputValue.data.left,
          top: this.inputValue.data.top

        })
        if(this.inputValue.data.rotate)
        this.$refs.cropper.rotate(this.inputValue.data.rotate);
    },
    openEdit(){
      this.editImage = true
    
      },
      selimglink () 
      { 
        this.inputValue.data.url = this.imageUrl
        this.imageSrc = this.imageUrl
        this.$refs.dialogfile.hide()
      },
      selimg (idasset) {
        /// gestire campi extra
          this.imageUrl = ''
        if(typeof this.inputValue.url === 'undefined')  this.inputValue = {data:{alt:'',url:'',title:''}} 
        this.inputValue.data.url = idasset
        this.setSrcImage()
        this.$refs.dialogfile.hide()
      },
      handleUploaded (info) {
        this.getListFile(this.maxImage)
        info.files.forEach((value, index) => {
          var response = JSON.parse(value.xhr.response)
          // this.inputValue = response.filename
        })
      },
      handleFailed () {

      },
      factoryFn (file) {
        var self = this

        return new Promise((resolve, reject) => {
          self.token = session_token,
          resolve({
            url: self.pathUpload,
            method: 'POST'
          })
        })
      },
      getListFile (maxfile) {
        
        if(maxfile == -1) this.showButton = false
        else this.showButton = true
        this.filelist = []
        this.$axios.get(this.pathFile + '?uid=' + this.uid + '&sig=' + this.sig)
          .then((response) => {
            /// /se model media è cmsmediagen
            if (typeof response.data.media !== 'undefined') {
              response.data.media.forEach((value, index) => {
                if(index < maxfile || maxfile == -1)
                {
                  if (typeof this.inputValue.data !== 'undefined' && value.url == this.inputValue.data.url) this.imageSrc = value.url
                  
                  this.filelist.push(value)
                }
                
              })
            }
            /// / se model è cmsasset
            if (typeof response.data.assets !== 'undefined') {
              response.data.assets.forEach((value, index) => {
                  if(index < maxfile || maxfile == -1)
                  {
                     if (typeof this.inputValue.data !== 'undefined' &&  value.url == this.inputValue.data.url) this.imageSrc = value.url
                     this.filelist.push(value)
                  }

                
              })
            }
          })
      },
      setSrcImage () {
        this.filelist.forEach((value, index) => {
          if (typeof this.inputValue.data !== 'undefined' && value.url == this.inputValue.data.url) this.imageSrc = value.url
        })
      }
      

    }
}
</script>
<style>
.q-tab__label{
  margin-left:7px
}
</style>
