<template>
    <q-input :name="field.name"  lazy-rules :type="type" v-model="inputValue"/>

</template>

<script>
export default {
  name: 'fieldInput',
  data () {
    return {
    }
  },
  props: {
    type: { type: String },
    lang: { type: String },
    field: { type: Object }
  },
  computed: {
    inputValue:
      {
        get () {
          return (this.lang) ? this.field.value[this.lang] : this.field.value
        },
        set (value) {
          if (this.lang) { this.field.value[this.lang] = value } else { this.field.value = value }
        }
      }
  },
  methods: {

  }
}
</script>
