<template>

  <div class="q-pa-md q-gutter-sm q-mt-md"> 
     <div :style="{backgroundColor:inputValue}" style="width: 55px; float: left; height: 55px; margin: 9px;margin-left:0px"></div>
      <q-input :label="field.name" :name="field.name" 
          class="colorPicker"
              filled
                v-model="inputValue" 
                @input="$forceUpdate()"
              >
                <template v-slot:append>
                    <q-icon name="colorize" class="cursor-pointer">
                    <q-popup-proxy transition-show="scale" transition-hide="scale">
                      <q-color :no-header="true" @input="$forceUpdate()" @change="val => { inputValue = val }" :palette="colorpalette" :value="inputValue" format-model="rgba" />
                    </q-popup-proxy>
                  </q-icon>
                </template> 
      </q-input> 
  </div> 
</template>

<script>
export default {
  name: "fieldColor",
  data() {
    return { 
      colorpalette:palette
    } 
  },
  props: {
    type: {type:String},
    field: {type:Object},
    lang: {type:String},
  },
  computed:{
      inputValue:
      {
            get()
            { 
              return (this.lang) ? this.field.value[this.lang] : this.field.value;
            },
            set(value)
            {
              if(this.lang)
                this.field.value[this.lang] = value
              else 
                this.field.value = value
            } 
      }
  },
    methods: {
     
    }
}
</script>