<template>
 <div class="q-pa-sm">
    <div class="q-gutter-sm row items-start">
      <div style="font-size:14px" class="col-sm-12 text-grey-7">{{field.name}}</div>
   
    </div>
    <div class="q-gutter-sm row items-start q-my-sm">
      <q-btn label="Gestisci" size="sm" color="primary" @click="openModalBlock" />
    </div>
        

    </div>

</template>

<script>
export default {
  name: 'fieldbuttonModal',
  data () {
    return {
      token: null,
      basic: false
     
    }
  },
  props: {
    type: { type: String },
    field: { type: Object },
    index: { type: Number},
  },
  mounted () {
    
  },
  computed: {
    inputValue:
      {
        get () {
          return this.field.value
        },
        set (value) {
          this.field.value = value
        }
      }
  },
  methods:
    {
      openModalBlock()
      {   
        
        this.$root.$emit('itemComposed',this.field,this.index)
      
      //
    },

      

    }
}
</script>
