<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" href="statics/app-logo-128x128.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png">
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
     <script>
        // var session_token = "jX5jmmRQBxTAixrdKMOlDa8LWeInfy4xzlY3ykvx"
         var app_path   = 'http://localhost/viandaadmin/www/' 
        // var app_uid   = '14' 
        // var user_id = 1
        // var app_sig   = '7eceaf7c4c82c0a5b0b210355c8470358c80a898228bcd31cd535cfa8cff5594' 
        // var base_site_url   = 'http://localhost/b2b20/public' 
        // var nameEditor   = 'XEditor / Bis' 
        // var draftEnabled  = false 
        // var page_id = 53;
        // var site_id = 5;
        // var modelmedia = 'cmsmediagen'
        // var pathmedia = ''
        // var pathrenderengine = '/api'
        // var prefixlang = 'LG'
        var session_token = "GbK8MYwRrhdudx4nFmQ6GxrCT7hyvgO7zNHtbXux"
    var user_id = 1;
    //var app_path = "http://localhost/gamiHotels/www/";
    //var app_uid = '2';
    var app_uid = '5';
    //var app_sig = 'dfb073cb23ab9bbf332f861e267ce2f7cc85c4bfee989774cdb9e8a5f90957f3';
    var app_sig = 'f7d762ce651fd121ab566b2d8e34cef607146bd16d2fa2f275eb187118b61d11';
   var base_site_url = 'http://localhost/vianda/public';
   // var base_site_url = 'http://localhost/gamiHotels/www/gamihotel/public';
    //var base_site_url = 'https://beta.valtur.com';
    
//    var page_id = '1';
  //  var site_id = '1';
    var site_id = '1';
    var page_id = '23';
    var nameEditor = 'XEditor / Hotels FLY';
    var draftEnabled = true
    var modelmedia = 'cmsasset'
    var pathmedia = 'http://localhost/viandaadmin/www/'
    var pathrenderengine = '/api';
    var resized = false;
    var subpathresize = '';
    var imgtoView = 10;
    var resizereplacepath = '/media';
    var pageTitle = 'Titolo pagina';
    var palette = ['#B2028A']
   // var prefixlang = 'LANG';
    var prefixlang = 'LANG';
    var CFAccessClientId = '12aed28b2e82374664784602c1030cc8.access';
    var CFAccessClientSecret = 'f99880b1019a7c5d9e9aa2538d379bf40b163dd907b736f0cb007834b3a9b1aa';
    var dataTree = {"devices":[{"id":1,"name":"Device 1","sensors":[{"id":1,"senskey":"Asdwq34235WASd","type":"power_meter","name":"Sensore 1","fields":["_id","energy_active","forward reactive energy","forward_reactive_energy","frequency","l1_active power","l1_active_power","l1_apparent power","l1_apparent_power","l1_current","l1_forward active energy","l1_forward reactive energy","l1_forward_active_energy","l1_forward_reactive_energy","l1_reactive energy","l1_reactive power","l1_reactive_energy","l1_reactive_power","l1_reverse active energy","l1_reverse reactive energy","l1_reverse_active_energy","l1_reverse_reactive_energy","l1_total_active energy","l1_total_active_energy","l1_voltage","l2_active power","l2_active_power","l2_apparent power","l2_apparent_power","l2_current","l2_forward active energy","l2_forward reactive energy","l2_forward_active_energy","l2_forward_reactive_energy","l2_reactive energy","l2_reactive power","l2_reactive_energy","l2_reactive_power","l2_reverse active energy","l2_reverse reactive energy","l2_reverse_active_energy","l2_reverse_reactive_energy","l2_total_active energy","l2_total_active_energy","l2_voltage","l3_active power","l3_active_power","l3_apparent power","l3_apparent_power","l3_current","l3_forward active energy","l3_forward reactive energy","l3_forward_active_energy","l3_forward_reactive_energy","l3_reactive energy","l3_reactive power","l3_reactive_energy","l3_reactive_power","l3_reverse active energy","l3_reverse reactive energy","l3_reverse_active_energy","l3_reverse_reactive_energy","l3_total_active energy","l3_total_active_energy","l3_voltage","power factor","power_active","power_apparent","power_factor","power_reactive","reverse active energy","reverse reactive energy","reverse_active_energy","reverse_reactive_energy","sensor_key","time","total active energy","total active power","total active_energy","total apparent power","total forward active energy","total reactive energy","total reactive power","total_active_power","total_apparent_power","total_forward_active_energy","total_reactive_energy","total_reactive_power"]},{"id":2,"senskey":"MaTuldPbQG7dQc","type":"power_meter","name":"Sensore 2 - markito","fields":["_id","forward reactive energy","forward_reactive_energy","frequency","l1_active power","l1_active_power","l1_apparent power","l1_apparent_power","l1_current","l1_forward active energy","l1_forward reactive energy","l1_forward_active_energy","l1_forward_reactive_energy","l1_reactive energy","l1_reactive power","l1_reactive_energy","l1_reactive_power","l1_reverse active energy","l1_reverse reactive energy","l1_reverse_active_energy","l1_reverse_reactive_energy","l1_total_active energy","l1_total_active_energy","l1_voltage","l2_active power","l2_active_power","l2_apparent power","l2_apparent_power","l2_current","l2_forward active energy","l2_forward reactive energy","l2_forward_active_energy","l2_forward_reactive_energy","l2_reactive energy","l2_reactive power","l2_reactive_energy","l2_reactive_power","l2_reverse active energy","l2_reverse reactive energy","l2_reverse_active_energy","l2_reverse_reactive_energy","l2_total_active energy","l2_total_active_energy","l2_voltage","l3_active power","l3_active_power","l3_apparent power","l3_apparent_power","l3_current","l3_forward active energy","l3_forward reactive energy","l3_forward_active_energy","l3_forward_reactive_energy","l3_reactive energy","l3_reactive power","l3_reactive_energy","l3_reactive_power","l3_reverse active energy","l3_reverse reactive energy","l3_reverse_active_energy","l3_reverse_reactive_energy","l3_total_active energy","l3_total_active_energy","l3_voltage","power factor","power_factor","reverse active energy","reverse reactive energy","reverse_active_energy","reverse_reactive_energy","sensor_key","time","total active energy","total active power","total active_energy","total apparent power","total forward active energy","total reactive energy","total reactive power","total_active_power","total_apparent_power","total_forward_active_energy","total_reactive_energy","total_reactive_power"]}]}]};
    var bt = ''
    var tokenB = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5Mjk0NWZkZS0xODdjLTQwMDQtOWI2ZC0yNWQ3MjI2ZTE0NzciLCJqdGkiOiI1NzRjMjM2MGVmZjJlMjE5N2YyMTQ3NDE5YWU4ZGVhNjgzNGFkOGNiZTdiNWY3ZThlNzI3ZDlkZTliNTAyY2Q0ZDllNjJiOWJkYmY0MWY2MyIsImlhdCI6MTY4MDcwNTI5MCwibmJmIjoxNjgwNzA1MjkwLCJleHAiOjE2ODA3MTk2OTAsInN1YiI6IjE2NDc3NyIsInNjb3BlcyI6W119.CJGs7I86VTmPBgS0I4VSSZK4kE39-Z4tMsqzrB_ThMjDg5V-N-xbIK1rbEqhI1AWjsMhBGYrRFxU40xPTW7EUGWtgccGE9d_tMkwhxkC8nJcIXdKW8DMWeXRstyylYCxod7amHiZya2beFLA8UcPQcNfBoOUJK4PddOOCRwaGIKqh23GUyxkijbGl6pLsnFnKjwH4Xjy6G6WKpBNfSAJLHrmDDyUqCVRV1AZpx5TSrGUCD2GdmFXOEugujWBS1PptzSfu-m1PJpLCPBFS3G2rzXI5KThHdkGb17QkT57BY-IUkxD1SjYnz8ZUKDmJGEbVfx7wss7mC_eywMwCu5vnBdS-WJjrIHugFWPHaepRWscvE019Z0hodG7YuEjNjOazVQ-nLllbiyemFMrOpEOHpZEpHMmQuqEQoDkGF9kO11EUP0843Fjjzgn6IQ_gK7eRLFESyX9rN6laUEhU8TPkxWCNWBDIvfIik3L3j-pGML8Vgy7aQMCVdGC3gYGwnr74J8JRkov8PgGQEIOXGhtfy9XFdaICODQm4LM7sRWkP2rk4YHuwGCX0jo4Nh5XZD7YCbTYmKd-qN-UnW5NaHFCdj4nQ6PXmPKbdYl05X3P-X5qD0Rvz7qK3sG61we5Ylt_wnzgK9-8b7CoimVUQUfsd-70u1-xr_Vb5llZhFgLz0'
    var epService = 'https://test.wstravelonline.com/api/v2'
    var version = '2.1'
     </script>  
  </body>
</html>
