  <template>
    <q-layout view="hHh LpR fFf">
      <q-header elevated>
        <q-toolbar>
          <q-btn v-show="draftEnabled" flat dense round @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu">
            <q-icon name="menu" />
          </q-btn>

          <q-toolbar-title>{{nameEditor}} 

          <span v-if="pageTitle" style="font-size:14px;margin-left:10px"><i>Pagina: <b>{{pageTitle}}</b></i></span>
          </q-toolbar-title>

            <div class="col-3 ">

          <div class="row float-right">

            <div class="justify-center ">
            <form method="POST" ref="formpreview" target="_blank" :action="baseSiteUrl+pathRenderEngine+'/preview'">
              <input type="hidden" ref="pagejsonprev" name="jsonPage">
              <input type="hidden" ref="pagetypeprev" name="typePage">
              <input type="hidden" ref="pagelangprev" name="lang">
              <input v-if="btk" type="hidden" :value="btk" ref="btk" name="btk">
              <q-btn-dropdown text-color="white" color="amber" label="Preview" size="12px" icon="preview">
                <q-list>
                  <q-item clickable v-close-popup @click="setPrevLang(lang.value)" :key="index" v-for="(lang,index) in languages">
                    <q-item-section>
                      <q-item-label>{{lang.label}}</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-btn-dropdown>

            </form>
            </div>
            <div class="" style="margin-left:20px">
            <form method="POST" ref="formsavepage" target="" action="">
              <input type="hidden" ref="pagejson" name="jsonPage">
              <input type="hidden" ref="pageid" name="pageId">
              <q-btn-dropdown text-color="white" color="green" label="Salva" size="12px" :icon="iconsaveButton">
                <q-list>
                  <q-item clickable v-close-popup @click="verifySavePage">
                    <q-item-section >
                      <q-item-label>Salva e Pubblica</q-item-label>
                    </q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup  @click="openSavePageDraft ">
                    <q-item-section>
                      <q-item-label>Salva come Bozza</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-btn-dropdown>

            </form>
            </div>

            <q-btn  style="margin-left:20px" dense flat round icon="menu" @click="rightDrawerOpen = !rightDrawerOpen" />
          </div>
          </div>
        </q-toolbar>
      </q-header>

      <q-drawer
      v-show="draftEnabled && leftDrawerOpen" 
        show-if-above
        bordered
        side="left"
        content-class
        overlay
        content-style="background: rgba(255,255,255,0.7)"
      >
        <div class="q-pa-md">
        <q-list>
            <q-item>
                  <q-item-section
                    class="text-capitalize"
                    @click="getJsonPage(page_id)"
                  >Pagina pubblicata</q-item-section>
                </q-item>
            <q-expansion-item expand-separator icon="list_alt" label="Lista Bozze Pagina">
              <template v-for="(page,index) in listpagedrafts">
                <q-item :key="index">
                  <q-item-section
                    class="text-capitalize"
                    @click="getJsonPageDraft(page.id)"
                  >{{page.id}} - {{page.note}}<br><span style="font-size:10px"><i>Ultima modifica: {{formatDateIta(page.updated_at)}}</i></span></q-item-section>
                </q-item>
              </template>
            </q-expansion-item>
          </q-list>

        </div>
      </q-drawer>
      <q-drawer
        show-if-above
        v-show="rightDrawerOpen"
        side="right"
        bordered
        overlay
        content-style="{ opacity: '0.8' }"
      >

            <ListBlock></ListBlock>
            <EditBlock :pages="listpage"></EditBlock>
            <EditVirtual></EditVirtual>
            <EditBlockChild></EditBlockChild>
            <EditColumn></EditColumn>
            <EditRow></EditRow>
            <ModalListBlock></ModalListBlock>

    <q-dialog v-model="draftdialog" ref="dialogfile"  transition-show="slide-down"   transition-hide="slide-up">

                <q-card class="q-px-lg q-py-lg" style="width: 600px; max-width: 60vw;height:40vh">
                  <div class="text-h5 q-mb-sm ">Salvataggio Bozza</div>
                    <q-card-section>
                        <q-input filled label="Note Bozza" name="draft_note" hint="Inserisci una nota relativa alla bozza" lazy-rules type="text" v-model="draft_note"/>
                    </q-card-section>
                    <q-card-actions align="right" class=" q-pa-lg absolute-bottom   text-teal">
                    <q-btn  text-color="white" color="green" label="Salva come Bozza" @click="savePageDraft(0)" v-close-popup />
                  </q-card-actions>
                </q-card>
                </q-dialog>
        <!-- drawer content -->
        <q-dialog v-model="confirmSave" persistent>
        <q-card>
          <q-card-section class="row items-center">
            
            <span class="q-ml-sm">Attenzione! Hai effettuato delle modifiche sui blocchi virtuali.<br> 
              Proseguendo al salvataggio aggiornerai anche i blocchi virtuali che hai modificato in questa pagina.<br>
              Decidi se vuoi salvare e aggiornare anche i blocchi oppure aggiornare solo la pagina.
            </span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Annulla" color="primary" v-close-popup />
            <q-btn flat label="Salva Pagina" color="green" @click="goSavePage()" v-close-popup />
            <q-btn flat label="Aggiorna blocchi e Salva Pagina" color="green" @click="updatebSavePage()" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>

      <q-dialog v-model="confirmDelete" persistent>
        <q-card style="width: 80vw;min-height:400px">
          <q-card-section class="row items-center">
            
            <span class="q-ml-sm"><br><span style="font-size:16px" class="text-red"> <b>Attenzione operazione irreversibile!</b></span><br> Stai per rimuovere un blocco virtuale.<br>
              Procedendo rimuoverai anche tutti i suoi collegamenti presenti nelle altre pagine.<br>              
            </span>
          <div class="row" style="width:100%">
            <div class="col-12 q-mt-lg ">
          <q-expansion-item
          class="bg-grey-4 listpage"
                  expand-separator        
                  label="Pagine in cui è presente"
                >
                   <q-separator />
                <q-card class="bg-grey-2">
                  <q-card-section v-if="listpblk"> 
                    <div v-if="!listpblk.length">Questo blocco attualmente non è presente in nessuna pagina</div>
                    <div v-for="page in listpblk">{{page.id}} - {{page.title}}</div>
                  </q-card-section>
                </q-card>
          </q-expansion-item>
            </div>
            </div>

          </q-card-section>
          <q-card-actions align="right" class="absolute-bottom">
            <q-btn flat label="Annulla" color="primary" v-close-popup />
            <q-btn flat label="Procedi" color="red" @click="deleteAllBlockPage()" v-close-popup /> 
          </q-card-actions>
        </q-card>
      </q-dialog>

      </q-drawer>
      <q-page-container>
        <div class="q-gutter-md row"  v-show="showSpinner" style="position:absolute;height: 100vh;padding-top: 40vh;width: 100vw; text-align: center;display: block;background: rgba(0, 0, 0, 0.7);">
        <q-spinner
          color="info"
          size="4em"/>
      </div>
        <router-view />
      </q-page-container>
      <!-- <q-footer elevated>
        <q-toolbar>
          <q-btn flat dense round @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu">
            <q-icon name="menu" />
          </q-btn>

          <q-toolbar-title>Footer</q-toolbar-title>

          <div>Quasar v{{ $q.version }}</div>
        </q-toolbar>
      </q-footer> -->
    </q-layout>
  </template>

  <script>
  import LocalForage from 'localforage'
  import EditForm from 'components/Form'
  import ListBlock from 'components/ListBlock'
  import EditBlock from 'components/EditBlock'
  import EditBlockChild from 'components/EditBlockChild'
  import EditColumn from 'components/EditColumn'
  import EditVirtual from 'components/EditVirtual'
  import EditRow from 'components/EditRow'
  import ModalListBlock from 'components/ModalListBlock'
  import Uy from '../mixins/utilities'
  import { QSlideItem } from 'quasar'

  export default {
    name: 'MyLayout',
    mixins: [Uy],
    components: {
      EditForm,
      ListBlock,
      EditBlock,
      EditBlockChild,
      EditRow,
      EditColumn,
      EditVirtual,
      ModalListBlock
    },
    data () {
      return {
        pathApp: app_path,
        uid: app_uid,
        sig: app_sig,
        leftDrawerOpen: false,
        rightDrawerOpen: false,
        draftdialog: false,
        listpage: [],
        listpagedrafts: [],
        page: '',
        pageId: 0,
        pageType: null,
        draft_note: '',
        pageDraftId: 0,
        children: '',
        right: false,
        hostSite: false,
        baseSiteUrl: base_site_url,
        pathRenderEngine: pathrenderengine,
        nameEditor: nameEditor,
        draftEnabled: draftEnabled,
        languages: [],
        editform: { languages: [], formcontents: [], blockData: {}, selector: [] },
        editformchild: { languages: [], formcontents: [], blockData: {}, selector: [] },
        schemaChild:{},
        showSpinner: false,
        jsonChild:{},
        iconsaveButton:'done_all',
        pageTitle:pageTitle,
        pageBlkId:null,
        pageBlkContent:null,
        confirmSave:false,
        confirmDelete:false,
        dataToDelete:null,
        blockUpdated:[],
        listpblk:[] ,
        btk:bt,
      }
    },
    beforeMount () {
      // LocalForage.clear()
      this.getSiteInfo()
    // this.renderListPageDraft()
    },
    mounted () {
      this.getJsonPage(page_id)
    },
    computed: {

    },
    created () {
      this.$root.$on('pushField', this.pushField) 
      this.$root.$on('pushField2', this.pushFieldChild)
      this.$root.$on('setBlockData', this.setBlockData)
      this.$root.$on('setBlockDataChild', this.setBlockDataChild)
      this.$root.$on('getJsonPage', this.getJsonPage)
      this.$root.$on('updateBlock', this.updateBlock)
      this.$root.$on('updateBlockChild', this.updateBlockChild)
      this.$root.$on('updateCol', this.updateCol)
      this.$root.$on('updateRow', this.updateRow)
      this.$root.$on('clearField', this.clearField)
      this.$root.$on('clearFieldChild', this.clearFieldChild)
      this.$root.$on('updateJsonPage', this.updateJsonPage)
      this.$root.$on('hideIconSave', this.hideIconSave)
      this.$root.$on('makeBlockVirtual', this.saveVirtualBlock)
      this.$root.$on('deleteBlockFromPage', this.deleteBlockFromPage)
      this.$root.$on('openAlertDelete', this.openAlertDelete)
    },

    methods: {
      previewPage: function (lang) {
        var self = this

        lang = lang.replace(prefixlang + '_', '').toLowerCase()
        LocalForage.getItem(self.page).then(function (value) {
          self.$refs.pagejsonprev.value = value
          self.$refs.pagetypeprev.value = self.pageType
          self.$refs.pagelangprev.value = lang
          self.$refs.formpreview.submit()
        })
      },
      setPrevLang: function (lang) {
        this.previewPage(lang)
      },

      verifySavePage: function () {
        this.showSpinner = true
        var self = this
      //  this.savePageDraft(1)
        LocalForage.getItem(this.page).then(function (value) {
          
          self.jsontosave = self.getFinalJson(value) 
            if(!self.confirmSave) self.goSavePage()
        })
      },
      updatebSavePage:function(){
        this.goSavePage()
        var self = this
        LocalForage.getItem('TPPG_BLKVIRTUAL').then(function (v) {
          var content = JSON.parse(v)
          if(typeof content.body.sections !== 'undefined')
          {
            content.body.sections.forEach((sect, i1) => {
              sect.rows.forEach((row, j1) => 
              {
                row.columns.forEach((column,k1) => 
                {
                  if(column.blocks.length)
                  {
                    column.blocks.forEach((block,l1)=>
                    {
                      self.blockUpdated.forEach((upblk,ix)=>
                      {
                        if(block.virtualId == upblk.virtualId)
                        {
                          upblk.hasUpdated = false
                          content.body.sections[i1].rows[j1].columns[k1].blocks[l1] = upblk
                        }
                      })
                      
                    })
                  }
                })
              })
            })
            self.updatePageBlockVirtual(content,false,false)
          }
        })
      },
      goSavePage:function()
      {
        var formData = new FormData() 
          formData.append('contenuto', JSON.stringify( this.jsontosave))
          formData.append('EN_contenuto', '')
          formData.append('DE_contenuto', '')
          formData.append('csrf_token', session_token)
          formData.append('id[]', this.pageId)

          this.$axios
            .post(this.pathApp + 'admin/edit/cmspage', formData,

              { headers: { 'Content-type': 'application/x-www-form-urlencoded' } })
            .then(response => {
              if (response.data) {
                this.showSpinner = false
              
                  this.$q.notify({
                    position: 'top',
                    type: 'positive',
                    message: 'Pagina salvata correttamente.'
                  })
                  this.iconsaveButton = 'done_all'
              }
            })
      },
      hideIconSave: function(){
        this.iconsaveButton = ""
      },
      openSavePageDraft: function (approved) {
        this.draftdialog = true
      },

      savePageDraft: function (approved) {
        var self = this
        LocalForage.getItem(this.page).then(function (value) {
          var formData = new FormData()
          formData.append('content', value)
          formData.append('author', user_id)
          formData.append('csrf_token', session_token)
          formData.append('note', self.draft_note)
          // formData.append("id[]", self.pageDraftId);
          formData.append('cms_page_id', self.pageId)
          if (approved) {
            formData.append('approved_by', user_id)
            formData.append('approved', 1)
          }

          self.$axios
            .post(self.pathApp + 'admin/edit/cmspagedraft', formData,

              { headers: { 'Content-type': 'application/x-www-form-urlencoded' } })
            .then(response => {
              self.renderListPageDraft()
            })
        })
      },
      getFinalJson:function(json){ 
        this.confirmSave = false
        this.blockUpdated = []
        var content = JSON.parse(json)
        if(this.pageType !== 'TPPG_BLKVIRTUAL')
        {
          if(typeof content.body.sections !== 'undefined')
          {
            content.body.sections.forEach((sect, i1) => {
              sect.rows.forEach((row, j1) => 
              {
                row.columns.forEach((column,k1) => 
                {
                  if(column.blocks.length)
                  {
                    column.blocks.forEach((block,l1)=>
                    {
                      if(typeof block.virtualId !== 'undefined')
                      {
                        if(typeof block.hasUpdated !== 'undefined' && block.hasUpdated)
                        {
                          this.blockUpdated.push(block)
                          this.confirmSave = true 
                        }
                        var elcontents = {code:'virtualblock',type:'virtualblock',category:'Template',name:'Blocco Virtuale',contents:{items:[]}}
                        elcontents.contents.items.push({idblock:block.virtualId})
                        content.body.sections[i1].rows[j1].columns[k1].blocks[l1] = elcontents
                      }
                    })
                  }
                })
              })
            })
          }
        }
      
        return content
        
      },

      renderListPage: function () {
        var self = this
        this.$axios
          .get(self.pathApp + 'api/genjson/PAGES?uid=' + self.uid + '&sig=' + self.sig)
          .then(response => {
            response.data.forEach((items1, i1) => {
              self.listpage.push(items1.titolo) 
            })
          })
      },
      renderListPageDraft: function () {
        var self = this
        this.$axios
          .get(self.pathApp + 'api/genjson/PAGES?uid=' + self.uid + '&sig=' + self.sig)
          .then(response => {
            response.data.forEach((items1, i1) => {
              if (typeof items1.cmspagedrafts !== 'undefined') { self.listpagedrafts = items1.cmspagedrafts }
            })
          })
      },
    
      getJsonPage: function (page) {
        LocalForage.setItem('TPPG_BLKVIRTUAL', null)
        const self = this
        this.$axios
          .get(self.pathApp + 'api/genjson/PAGES?uid=' + self.uid + '&sig=' + self.sig)
          .then(response => {
            self.listpage = []
            response.data.forEach((items1, i1) => {

              self.listpage.push(items1) 
              //set pagina blocchi virtuale
              if(items1.tipo_id == 'TPPG_BLKVIRTUAL')
              { 
                self.pageBlkId = items1.id
                self.pageBlkContent = items1.contenuto
                LocalForage.setItem('TPPG_BLKVIRTUAL', items1.contenuto)
              }
              
              if (items1.id == page) {
                  if (typeof items1.cmspagedrafts !== 'undefined') { self.listpagedrafts = items1.cmspagedrafts }
                
                if (items1.contenuto) { 
                  try {
                    const content = JSON.parse(items1.contenuto)  
                  
                  content.body.sections.forEach((sect, i1) => {
                    if (typeof sect.rows === 'undefined') // retrocompatibilita
                    {
                      const blocks = sect.blocks
                      delete content.body.sections[i1].blocks
                      content.body.sections[i1].name = 'section_' + content.body.sections[i1].section_id
                      content.body.sections[i1].rows = []
                      content.body.sections[i1].rows.push({ columns: [] })
                      content.body.sections[i1].rows[0].columns.push({ size: 12, blocks: blocks })
                    }
                    else
                    {
                      sect.rows.forEach((r, ir1) => {
                        r.columns.forEach((c, ic1) => {
                          c.blocks.forEach((blk,ib1)=>{
                            if(blk.code == 'virtualblock' && self.pageBlkContent)
                            {
                              var vpage = JSON.parse(self.pageBlkContent)
                              if(typeof vpage.body !== 'undefined' && typeof vpage.body.sections !== 'undefined')
                              {
                                vpage.body.sections[0].rows[0].columns.forEach((col, j1) => 
                                {
                                  if(col.blocks.length)
                                  {
                                    col.blocks.forEach((blk2, j2) => {
                                      if(blk2.virtualId == blk.contents.items[0].idblock)
                                      {
                                        
                                        content.body.sections[i1].rows[ir1].columns[ic1].blocks[ib1] = blk2
                                      }
                                    })
                                  }
                                })
                              } 

                            }
                          })
                        })
                      })
                    }
                  })
                // console.log(content)
                  items1.contenuto = JSON.stringify(content)

                  } catch(e) {
                        self.showSpinner = false             
                          self.$q.notify({
                            position: 'top',
                            type: 'negative',
                            message: "<div>Attenzione! <br>Si è verificato un errore con il render della pagina.<br>Controlla il suo contenuto o prova a ricaricare</div>",
                            html:true,
                            multiLine: true,
                            actions: [
                              { label: 'Ricarica', color: 'white', handler: () => { location.reload(); } }
                            ]
                          })
                          
                    }
      
                }
                else {
                  //pagina senza contenuto
                  var content = {}
                  content.body = {sections:[]}
                  content.body.sections.push({
                    name :'section_0' ,
                    rows : []
                  })
                
                  content.body.sections[0].rows.push({ columns: [] })
                  content.body.sections[0].rows[0].columns.push({ size: 12, blocks: [] })
                  items1.contenuto = JSON.stringify(content)
                }
                LocalForage.setItem(items1.titolo, items1.contenuto).then(function () {
                  self.page = items1.titolo
                  self.pageId = items1.id
                  self.pageType = items1.tipo_id

                  self.pageDraftId = null

                  self.$root.$emit('changePage', { jsonPage: items1.contenuto, namePage: items1.titolo, typePage: self.pageType })
                })
              }
            })
          
        
            if(!this.pageBlkContent)
            { 
              var blkvirtual = {}
              var contentv = {}
                  contentv.body = {sections:[]}
                  contentv.body.sections.push({
                    name :'section_0' ,
                    rows : []
                  })
                
                  contentv.body.sections[0].rows.push({ columns: [] })
                  contentv.body.sections[0].rows[0].columns.push({ size: 12, blocks: [] })
                  blkvirtual = JSON.stringify(contentv)

  
                var formData = new FormData()
                formData.append('contenuto', blkvirtual)
                formData.append('tipo_id',"TPPG_BLKVIRTUAL")
                formData.append('cms_site_id',site_id)
                formData.append('titolo',"Blocchi Virtuali")
                formData.append('EN_contenuto', '')
                formData.append('DE_contenuto', '')
                formData.append('csrf_token', session_token)
                if(self.pageBlkId)
                formData.append('id[]', self.pageBlkId)

                self.$axios
                  .post(self.pathApp + 'admin/edit/cmspage', formData,

                    { headers: { 'Content-type': 'application/x-www-form-urlencoded' } })
                  .then(response => {
                    
                  }) 
            
            }
            })
  
      },
      getJsonPageDraft: function (page) {
        const self = this

        this.listpagedrafts.forEach((items1, i1) => {
          if (items1.id == page) {
            LocalForage.setItem('draft_' + page, items1.content).then(function () {
              self.page = 'draft_' + page
              self.pageDraftId = items1.id

              self.$root.$emit('changePage', { jsonPage: items1.content, namePage: 'draft_' + page, typePage: self.pageType })
            })
          }
        })
      },
      getSiteInfo: function (page) {
        const self = this
        this.$axios
          .get(self.pathApp + 'api/cmssite/' + site_id + '?uid=' + this.uid + '&sig=' + this.sig)
          .then(response => {
            if (typeof response.data.property !== 'undefined' || typeof response.data.properties !== 'undefined') {
              self.$root.hostSite = response.data.site.url
              self.$root.$emit('renderPage', response.data.site.url)

              /// / in alcuni ambienti le proprieta del sito sono sotto nodo property su altri sotto nodo properties
              const siteprops = (typeof response.data.property !== 'undefined') ? response.data.property : response.data.properties

              siteprops.forEach((prop, i1) => {
                if (prop.proprieta == 'lingue') {
                  self.languages.push({ label: prop.etichetta, value: prop.codice })
                }
              })
            }
            self.$root.$emit('setLangs', { langs: self.languages })
          })
      },
      namePage: function (page) {
        return page.replace('.json', '')
      },
      setBlockData: function (params) {
        var properties = []
        var condition = []
        this.editform.properties = []  
        this.editform.condition = []  
        this.$root.blocks.forEach((value, index) =>
        {
          if (value.schema.code ==  params.blockCode) {
  
            if (typeof value.schema.properties !== 'undefined') 
            {
              properties = JSON.parse(JSON.stringify(value.schema.properties))
              
            }

          }
        })
    
    
      this.editform.condition = params.condition
        
        if (properties && properties.length) { 
          
            properties.forEach((prop1, p1) => {
              if ( params.properties &&  params.properties.length) 
              {
                params.properties.forEach((propv, pv) => {
                  if(propv.id == prop1.id)
                    {
                      if (!propv.value) prop1.value = prop1.default
                      else prop1.value = propv.value
                    }
                })
              }
            })
        
          this.editform.properties = properties
        }
        

        this.editform.selector = params.selector
        this.editform.isVirtual = false
        if(typeof params.isVirtual !== 'undefined' && params.isVirtual) this.editform.isVirtual = true
        if(typeof params.virtualId !== 'undefined' && params.virtualId) this.editform.virtualId = params.virtualId
      
        // if (params.properties && params.properties.length) {
        //   params.properties.forEach((prop1, p1) => {
        //     if (!prop1.value) prop1.value = prop1.default
        //   })
        //   this.editform.properties = params.properties
        // }
        // this.editform.formcontents = params.formcontents
        this.editform.blockData = { name: params.blockName, code: params.blockCode, isMulti: params.isMulti }
        
      },
      setBlockDataChild: function (params) { 

        this.editformchild.selector = params.selector
        this.editformchild.properties = []
        if (params.properties && params.properties.length) {
          params.properties.forEach((prop1, p1) => {
            if (!prop1.value) prop1.value = prop1.default
          })
          this.editformchild.properties = params.properties
        }
        // this.editform.formcontents = params.formcontents
        this.editformchild.blockData = { name: params.blockName, code: params.blockCode, isMulti: params.isMulti,itemindex:params.itemindex }
          
      },
      pushField: function (formcontents) {
        this.editform.formcontents.push(formcontents)
        this.editform.languages = this.languages

        this.$root.$emit('openDialogEdit', this.editform)
      },
      pushFieldChild: function (formcontents) {
        this.editformchild.formcontents.push(formcontents)
        this.editformchild.languages = this.languages
    //   console.log(this.editformchild)
        

        this.$root.$emit('openDialogEditChild', this.editformchild)
      },
      clearField: function () {
        this.editform.formcontents = []
        this.editform.properties = []
      },
      clearFieldChild: function () {
        this.editformchild.formcontents = []
      },
      updateCol: function (params) {
        //console.log(params)
        var self = this
        LocalForage.getItem(this.page).then(function (value) {
          if (value) {
            const jsonactive = JSON.parse(value)
            var item = jsonactive.body.sections[params.selector[1]].rows[params.selector[2]].columns[params.selector[3]]
            for (var prp in params.colData) {
              item[prp] = params.colData[prp]
            }
            self.updateJsonPage(jsonactive)
          }
        })
      },
      updateRow: function (params) {
        

        var self = this
        LocalForage.getItem(this.page).then(function (value) {
          if (value) {
            const jsonactive = JSON.parse(value)
            var item = jsonactive.body.sections[params.selector[1]].rows[params.selector[2]]
            for (var prp in params.rowData) {
              item[prp] = params.rowData[prp]
            }
            self.updateJsonPage(jsonactive)
          }
        })
      },
      updateBlockChild: function (params) { 
       // console.log(params)
        var self = this
        var jsonactive
        LocalForage.getItem(this.page).then(function (value) 
        {
          if (value) {
            jsonactive = JSON.parse(value) 

            if(typeof  jsonactive.body.sections[params.selector[1]].rows[params.selector[2]].columns[params.selector[3]].blocks[params.selector[4]].contents.items[params.itemindex] === 'undefined') 
            {  
              jsonactive.body.sections[params.selector[1]].rows[params.selector[2]].columns[params.selector[3]].blocks[params.selector[4]].contents.items[params.itemindex] = {}
              jsonactive.body.sections[params.selector[1]].rows[params.selector[2]].columns[params.selector[3]].blocks[params.selector[4]].contents.items[params.itemindex][params.codechild] = jsonactive.body.sections[params.selector[1]].rows[params.selector[2]].columns[params.selector[3]].blocks[params.selector[4]].contents.items[0][params.codechild]
            }
            var items = jsonactive.body.sections[params.selector[1]].rows[params.selector[2]].columns[params.selector[3]].blocks[params.selector[4]].contents.items[params.itemindex][params.codechild].contents.items
    
            if (jsonactive.body.sections[params.selector[1]].rows[params.selector[2]].columns[params.selector[3]].blocks[params.selector[4]].contents.items[params.itemindex][params.codechild].properties) {
              var properties = jsonactive.body.sections[params.selector[1]].rows[params.selector[2]].columns[params.selector[3]].blocks[params.selector[4]].contents.items[params.itemindex][params.codechild].properties
              if (properties.length) {
                params.properties.forEach((prop1, p1) => {
                  if(typeof properties[p1] == 'undefined') properties[p1] = prop1
                  properties[p1].value = prop1.value
                })
              }
            }
    

            params.formcontents.forEach((items1, i1) => {
              items[i1] = {}
              items1.forEach((item, i2) => {
                items[i1][item.name] = item.value
              })
              })
  
            if (items.length > params.formcontents.length) {
              var i = items.length
              while (i--) {
                if (typeof params.formcontents[i] === 'undefined') items.splice(i, 1)
              }
            }  
          
            self.jsonChild = jsonactive.body.sections[params.selector[1]].rows[params.selector[2]].columns[params.selector[3]].blocks[params.selector[4]].contents.items[params.itemindex][params.codechild]
            if(typeof self.editform.formcontents[0] !== 'undefined')
            {

              self.editform.formcontents[0].forEach((items1, i1) => {
                if(items1.name == params.codechild)
                {
                  self.editform.formcontents[params.itemindex][i1].value = self.jsonChild 
                }
              })
            }
          }
          console.log(jsonactive.body)
          self.hideIconSave()
            LocalForage.setItem(self.page, JSON.stringify(jsonactive)) 
            //self.editform = { languages: [], formcontents: [], blockData: {}, selector: [] }
        }) 
      },
      
      updateBlock: function (params) {
        var self = this
        LocalForage.getItem(this.page).then(function (value) {
          if (value) {
            const jsonactive = JSON.parse(value)
            var block = jsonactive.body.sections[params.selector[1]].rows[params.selector[2]].columns[params.selector[3]].blocks[params.selector[4]]
            var items = block.contents.items
            
        

            if (typeof block.properties !== 'undefined' && block.properties.length) { 
              var properties = block.properties
                
              if (properties.length) {
              
                params.properties.forEach((prop1, p1) => {
                  if(typeof properties[p1] == 'undefined') properties[p1] = prop1
                  properties[p1].value = prop1.value
                })
              }
            }
            else {
              block.properties = []
              params.properties.forEach((prop1, p1) => {
                block.properties.push(prop1)
              })
            }
            if (typeof params.condition !== 'undefined' && params.condition.length) {
            
                block.condition = []
                  params.condition.forEach((prop1, p1) => {
                    block.condition.push(prop1)
                  })
              
              
            }
            if(params.isvirtual)
            {
              block.hasUpdated = true
            }
            
            params.formcontents.forEach((items1, i1) => {
          
                
                
                items[i1] = {}
                items1.forEach((item, i2) => { 
                
                  items[i1][item.name] = item.value
                })
                
              // items1.forEach((item, i2) => {
              //   if(typeof jsoncontents[i1].items[i2] === "undefined")
              //   {
              //     jsoncontents[i1].items[i2] = {}
              //   }
              //   if(typeof jsoncontents[i1].items[i2][item.name] === "undefined")
              //   {
              //      jsoncontents[i1].items[i2][item.name] = ""
              //   }
              //     jsoncontents[i1].items[i2][item.name] = item.value

              // })
            })

            if (items.length > params.formcontents.length) {
              var i = items.length
              while (i--) {
                if (typeof params.formcontents[i] === 'undefined') items.splice(i, 1)
              }
            } 
            self.hideIconSave()
            self.updateJsonPage(jsonactive)
          }
        })
      },
      updateJsonPage: function (json) {
        const page = this.page
        const self = this

        LocalForage.setItem(page, JSON.stringify(json)).then(function (value) {
          self.$root.$emit('changePage', { jsonPage: JSON.stringify(json), namePage: page, typePage: self.pageType })
        })
      },

      saveVirtualBlock:function(data)
      { 
        this.showSpinner = true
        var self = this 
        var newcontent = ''
        var uid = (Date.now()* Math.random()).toString(16)
        
        newcontent = JSON.parse(this.pageBlkContent)

        var newcolumn = { size: 12, blocks: [] }
        data.elcontents.virtualName = data.nameNewBlock
        data.elcontents.virtualId = uid
        newcolumn.blocks.push(data.elcontents)
        newcontent.body.sections[0].rows[0].columns.push(newcolumn)
        this.updatePageBlockVirtual(newcontent,true,data)
    
      },
      updatePageBlockVirtual:function(content,replace,data)
      {
        var self = this
        var jsonnewcontent = JSON.stringify(content)
        var formData = new FormData()
        formData.append('contenuto', jsonnewcontent)
        formData.append('EN_contenuto', '')
        formData.append('DE_contenuto', '') 
        formData.append('csrf_token', session_token)
        formData.append('id[]', this.pageBlkId)
        
        // var newblocktolink = {code:'virtualblock',type:'virtualblock',category:'Template',name:'Blocco Virtuale',contents:{items:[]}}
        // newblocktolink.contents.items.push({idblock:uid})
        
        self.$axios
          .post(self.pathApp + 'admin/edit/cmspage', formData,

            { headers: { 'Content-type': 'application/x-www-form-urlencoded' } })
          .then(response => {
            if (response.data) {
              LocalForage.setItem('TPPG_BLKVIRTUAL',jsonnewcontent)
                  self.pageBlkContent = jsonnewcontent

                  if(replace) self.$root.$emit('replaceBlocktoJson',{isvirtual:true,content:data.elcontents ,selector:data.blockdata.selector.join('_')})
                  
                  self.showSpinner = false
                  if(replace)
                  {
                    self.$q.notify({
                      position: 'top',
                      type: 'positive',
                      message: 'Blocco virtuale aggiunto correttamente.'
                    })
                    //self.iconsaveButton = 'done_all'
                  }
                
            }
          }) 
      },
      deleteBlockFromPage:function(data)
      {
        var self = this
        LocalForage.getItem(this.page).then(function (value) 
        {
          const jsonactive = JSON.parse(value)
          const els = data.selector.split('_') // selettore

          if (els[0] == 'col') {
            jsonactive.body.sections[els[1]].rows[els[2]].columns.splice(els[3], 1)
          }
          if (els[0] == 'row') {
            jsonactive.body.sections[els[1]].rows.splice(els[2], 1)
          }
          if (els[0] == 's') {
            jsonactive.body.sections[els[1]].rows[els[2]].columns[els[3]].blocks.splice(els[4], 1)
          }

          self.updateJsonPage(jsonactive)
        })
      },
      openAlertDelete:function(data)
      {
        this.dataToDelete = data
        this.confirmDelete = true
        this.getListpageBlock(false)
      },
      getListpageBlock:function(toDelete){
        var self = this
        this.listpblk = []
        var selector = this.dataToDelete.selector
        LocalForage.getItem('TPPG_BLKVIRTUAL').then(function (v) 
        {
          const jsonactive = JSON.parse(v)
          const els = selector.split('_') // selettore

          if (els[0] == 's') {
            if(typeof jsonactive.body.sections[els[1]].rows[els[2]].columns[els[3]].blocks[els[4]].virtualId !== 'undefined')
            {
              var virtualId = jsonactive.body.sections[els[1]].rows[els[2]].columns[els[3]].blocks[els[4]].virtualId
              self.listpage.forEach((page,ipa) => {
                var contentpage =  JSON.parse(page.contenuto)
                if(contentpage && typeof contentpage.body !== 'undefined' && typeof contentpage.body.sections !== 'undefined')
                { 
                    contentpage.body.sections.forEach((section, is)=>{
                      if(typeof section.rows !== 'undefined')
                      {
                        section.rows.forEach((row,ir)=>{
                          row.columns.forEach((cl,ic)=>{
                              if(typeof cl.blocks !== 'undefined')
                              {
                                cl.blocks.forEach((blk,iblk)=>{
                                  
                                    if(blk.type == 'virtualblock' && blk.contents.items[0].idblock == virtualId)
                                    {
                                      if(!toDelete) self.listpblk.push({id:page.id,title:page.titolo})
                                      else
                                      {
                                        contentpage.body.sections[is].rows[ir].columns[ic].blocks.splice(iblk, 1)
                                        var formData = new FormData() 
                                        formData.append('contenuto', JSON.stringify( contentpage))
                                        formData.append('EN_contenuto', '')
                                        formData.append('DE_contenuto', '')
                                        formData.append('csrf_token', session_token)
                                        formData.append('id[]', page.id)
                                      
                                        self.showSpinner = true
                                        self.$axios
                                          .post(self.pathApp + 'admin/edit/cmspage', formData,

                                            { headers: { 'Content-type': 'application/x-www-form-urlencoded' } })
                                          .then(response => {
                                            if (response) {
                                              self.showSpinner = false
                                            
                                              self.$q.notify({
                                                  position: 'top',
                                                  type: 'positive',
                                                  message: 'Blocchi rimossi correttamente.'
                                                })
                                            }
                                          })
                                      }
                                    }
                                    if(toDelete && typeof blk.virtualId !== 'undefined' && blk.virtualId == virtualId)
                                    {
                                      contentpage.body.sections[is].rows[ir].columns[ic].blocks.splice(iblk, 1)
                                      self.showSpinner = true
                                      LocalForage.setItem(page.titolo, JSON.stringify(contentpage))

                                     // LocalForage.setItem('TPPG_BLKVIRTUAL',  JSON.stringify(contentpage) )
                                      self.updatePageBlockVirtual(contentpage,false,false)

                                       self.$root.$emit('changePage', { jsonPage: JSON.stringify(contentpage), namePage: page.titolo, typePage: page.tipo_id })
                                    }
                                    
                                })
  
                              }
                          })
                        })
                      }
                    }) 
                }
              })
            
            }
          }
        }) 
        return self.listpblk
      },
      deleteAllBlockPage:function(){
        var self = this
        this.getListpageBlock(true) 

      },

    

    },
    watch: {
    }

  }
  </script>

  <style>
    .listpage  .q-item
    {
      min-height:40px;
      padding:6px 15px;
    }
    
  </style>
